
.eg_btm {
    display:flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
}

.eg_btm a{
    text-decoration: none;    
}

a.eg_quote {
    color: #fff;
    font-weight: 500;
    background: #e52500;
    padding: 10px 20px;
    border-radius: 30px;
}

a.eg_learn {
    color: #e73310;
    font-weight: 500;
}

#root > div:nth-child(1) > section:nth-child(6) > div > div div {
    background: #fff !important;
}


.css-16f4053 img {
    display: block;
}


.css-16f4053 {
    aspect-ratio: 1/1;
    height: unset !important;
}


@media screen and (max-width: 1450px) {
    .eg_btm {
        gap: 25px;
        margin-bottom: 20px;
    }
    
    a.eg_quote.updated {
        padding: 5px 20px 8px;
    }
}