
@media(max-width: 767px) {
    #masthead > div.mobile-header > div.mobile_cta {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 100% !important;
        z-index: 999;
        bottom: 0;
    }

    iframe#podium-bubble {
        margin-bottom: 19px !important;
    }

    iframe#podium-prompt {
        margin-bottom: 15px !important;
    }

    #masthead > div.mobile-header > div.mobile_cta > div.mobile-nav-cta > a::before {
        content:url("https://i.ibb.co/vjT0tVM/schedule.png");
        position: absolute;
        left: 3%;
        top: 20%;
        transform: scale(.8);
        z-index: 9999;
    }

    #masthead > div.mobile-header > div.mobile_cta > div.mobile-nav-cta > a{
    position: relative;
    padding: 5px 44px;
    text-align: left;
    }

    #mobile-nav-phone-number{
        position: relative;
        padding-block:15px;
        padding-left: 42px;
        display: flex;
        gap: 5px;
    }
    #mobile-nav-phone-number::before{
            content:url("https://i.ibb.co/VmCDL2p/call.png");
            position: absolute;
            left: 3%;
            top: 20%;
            transform: scale(.8);
            z-index: 9999;
        }
}

@media screen and (min-width: 541px) {
    
#masthead > div.mobile-header > div.mobile_cta > div.mobile-nav-cta > a {
    text-align: center;
}

#masthead > div.mobile-header > div.mobile_cta > div.mobile-nav-cta > a::before {
    left: 13%;
}

a#mobile-nav-phone-number {
    padding-left: 33%;
}

#mobile-nav-phone-number::before{
    left: 19%;
}
}