#header-img > section.template_banner .row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}



h3.eg_tile {
    background: rgba(255,255,255,.9)!important;
    font-size: 26px;
    color: #5d5d5d;
    margin-left: 2%;
    text-align: left;
    font-family: inherit;
    width: 70%;
    padding: 13px 15px;
    border-radius: 8px;
}

span.eg_one {
    font-size: 25px;
}
span.eg_two {
    font-size: 22px;
}

.eg_span{
    color: #5d5d5d !important;
}

@media screen and (max-width: 768px){
    .eg_tile{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    h3.eg_tile {
        margin-top: 15%;
        margin-bottom: 4%;
        padding-inline: 4%;
       margin-inline: auto;
       width: 92%;
    }
    .second-container{
        visibility: hidden;
    }

    
}

@media screen and (max-width: 991px) {
    #header-img > section.template_banner .row {
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    h3.eg_tile {
        margin-bottom: 4%;
        padding: 14px 26px;
        width: 60%;
        font-size: 23px;
    }
}