@media (min-width: 1200px){
  .container {
      width: 1200px;
  }
  }
  
  #header-img > section.template_banner .row {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
  }
  
  .eg_tile {
      background: rgba(255,255,255,.9)!important;
      color: #5d5d5d;
      margin-left: 2%;
      text-align: left;
      font-family: inherit;
      width: 70%;
      padding: 13px 15px;
      border-radius: 8px;
  }

  @media screen and (max-width: 768px){
    .eg_tile {
      display: block;
      /* min-height: 130px !important; */
      background: rgba(255,255,255,.9)!important;
      color: #5d5d5d;
      margin-left: 2%;
      text-align: left;
      font-family: inherit;
      width: 100%;
      padding: 10px 5px;
      margin-bottom: 10px;
  }

  #text{
    font-size: 26px !important;
  }

  #eg_container{
    border-bottom: 1px solid #ccc;
  }
  }
  
  @media (min-width: 769px) and (max-width: 991px) {
     
    .eg_tile {
          margin-top: 15%;
          margin-bottom: 4%;
          padding-inline: 4%;
         margin-inline: auto;
         width: 92%;
      }
      .second-container{
          visibility: hidden;
      }
      
  }
  
  @media screen and (max-width: 991px) {
      #header-img > section.template_banner .row {
          flex-wrap: wrap;
      }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
      .eg_tile {
          margin-bottom: 4%;
          padding: 14px 10px;
          width: 70%;
          font-size: 23px;
      }
  }
  
  #eg_container {
    text-align: center;
  }
  
  #text {
    display: inline-block;
    vertical-align: middle;
    color: #5d5d5d;
    font-size: 34px;
  }
  
  #cursor {
    display: inline-block;
    vertical-align: middle;
    /* width: 2px;
    height: 30px; */
    /* background-color: #000; */
    animation: blink .75s step-end infinite;
  }
  
  @keyframes blink {
    from, to { 
      background-color: transparent 
    }
    50% { 
      background-color: #000; 
    }
  }