/*css for translation page*/

#eg-urgent {
    flex: 1;
    margin-left: 12px;
}

#eg-urgent button {
    width: 100%;
    background: #32abcf !important;
    font-size: 18px !important;
    margin: 0 !important;
}

/*css for translation page*/

@media(max-width: 767px) {
    .nfn__content .nfn__trust {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 0 !important;
    }

    #eg-urgent {
        order: -1;
        margin-left: 0;
    }

    .nfn__actions_mobile {
        margin-bottom: 10px !important;
    }
}