@media(min-width: 1025px) {
    .main-header {
        max-width: 1470px;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-header #menu-btn,
    .main-header #menu-btn+label.menu-icon,
    .main-header .nav-links,.main-header #menu-main-nav li:nth-child(1),
    .main-header #menu-main-nav li:nth-child(5),
    .main-header #menu-main-nav li:nth-child(6),
    .main-header #menu-main-nav li:nth-child(7),
    .main-header #menu-main-nav li:nth-child(8){
        display: none;
    }

    .main-header .header-container {
        justify-content: space-between;
    }

    .main-header #menu-main-nav {
        display: flex;
        gap: 70px;
        list-style: none;
        text-transform: uppercase;
        padding-top: 6px;
        font-family: 'Colgent';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        flex: 1;
        justify-content: flex-end;
        padding-left: 30px;
    }


}