html {
    scroll-behavior: smooth;
}

#container-to-scroll > div:nth-child(2) > div > div:has(.l-wizard-section__container){
    cursor: pointer;
}

#wizard-size > div.l-wizard-section__header > div.c-select.c-select--align-right > div {
    margin-right: 70px;
}

.eg-inactive-section{
    max-height: 0;
    overflow: hidden;
}

.l-wizard-section:has(.eg-inactive-section){
    padding-left: 1.8rem !important;
}

/*arrow up and down*/
.l-wizard__body > div > div .l-wizard-section__header {
    position: relative;
}

.eg-arrow {
    position: absolute;
    right: 12px;
    top: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eg-arrow::after {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border: solid #ED40A9;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    cursor: pointer;
}

.l-wizard-section__header:has(~.l-wizard-section__container .eg-confirm-btn) .eg-arrow::after{
    transform: rotate(227deg);
}
