@media screen and (min-width:1801px){
   html body.lor0-1-refer .how-it-works__base .view.box.one-third .text.heading.level-2 {
        font-size: 34px !important;     
    }
}
@media screen and (min-width:1200px) and (max-width:1800px){
    html body.lor0-1-refer .how-it-works__base .view.box.one-third .view.layout.L {
        width: 100%;
        position: relative;
        height: 60px;
    }
    
    html body.lor0-1-refer .how-it-works__base .view.box.one-third .text.heading.level-2 {
        color: #000;
        font-size: 30px !important;
        width: 377px;
        position: absolute;
        letter-spacing: var(--font-body-1-letter-spacing);
        font: var(--font-body-1);
    }
}
@media screen and (min-width:841px) and (max-width:1199px){
    html body.lor0-1-refer .join-in__base .text.heading{
        font-size: 68px !important;
        line-height: 63px !important;
        padding-top: 40px;
    }
}
html body.lor0-1-refer .LOR0-1-how-subhead .box.one-third {
    width: 100%;
    max-width: -webkit-calc(1 / 2 * 100%);
    max-width: calc(1 / 2 * 100%);
}
html body.lor0-1-refer .how-it-works__base .how-it-works__cta-wrapper .view.box.two-third {
    max-width: calc(1 / 3 * 100%) !important;
    max-width: -webkit-calc(1 / 3 * 100%);
}
html body.lor0-1-refer .how-it-works__base .view.box.one-third .view.layout.L {
    width: 100%;   
}
html body.lor0-1-refer .how-it-works__base  .text.heading.level-2{
    color: #000 !important;
}
html body.lor0-1-refer .how-it-works__base .view.box.one-third .text.heading.level-2 {
    font-size: 28px;
    line-height: 1.3;
    min-height: 72px;
    margin-bottom: 10px;
    
}
@media screen and (min-width:768px) {
    html body.lor0-1-refer .join-in__base .text.heading{
        font-size: 72px !important;
        line-height: 62px !important;
    }
    html body.lor0-1-refer .LOR0-1-influencers{
        margin-top: 70px;
    }
}
html body.lor0-1-refer header.header.positionFixed.wide{
    z-index: 99;
}
html body.lor0-1-refer aside.panel-side-right{
    z-index: 999 !important;
}
html body.lor0-1-refer .LOR0-1-video-content, html body.lor0-1-refer aside.LOR0-1-video-image {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
html body.lor0-1-refer .LOR0-1-video-section {
    background: #f5f5f5;
    padding-bottom: 80px;
    margin-top: 180px !important;
    margin-bottom: 130px !important;
}
html body.lor0-1-refer .LOR0-1-video-section .LOR0-1-video-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
html body.lor0-1-refer .LOR0-1-video-section > div {
    width: 50%;
}
html body.lor0-1-refer .LOR0-1-video-section .LOR0-1-video-image-inr {
    max-width: 591px;
    margin: 0 auto;
    margin-top: -85px;
    padding: 0px 25px;
    width: 100%;
    height: 100%;
}
html body.lor0-1-refer .LOR0-1-image-outer {
    position: relative;
}
html body.lor0-1-refer .LOR0-1-video-section .LOR0-1-video-image-inr img{
    cursor: pointer;
    position: absolute;
    z-index: 9;
}
html body.lor0-1-refer .LOR0-1-video-section .LOR0-1-video-image-inr video {
    width: 100%;
}
html body.lor0-1-refer .LOR0-1-image-outer.LOR0-1-video-show img{
    display: none;
}
html body.lor0-1-refer .LOR0-1-video-section .LOR0-1-video-text {
    width: 457px;
    margin: 0 auto;
    text-align: center;
}

html body.lor0-1-refer .LOR0-1-video-text .LOR0-1-subheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html body.lor0-1-refer .LOR0-1-video-text .LOR0-1-subheading img {
    max-width: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

html body.lor0-1-refer .LOR0-1-video-text .LOR0-1-video-heading {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: .9;
    font-weight: normal;
}

html body.lor0-1-refer .LOR0-1-video-text .LOR0-1-button {
    width: 314px;
    height: 56px;
    font-family: "Founders Grotesk", arial;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    background: #ff9081;
    border: none;
    cursor: pointer;
    transition: transform 750ms ease, opacity 750ms ease;
}

html body.lor0-1-refer .LOR0-1-video-text .LOR0-1-button:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
transition: box-shadow 350ms ease;
}
html body.lor0-1-refer .LOR0-1-video-image .LOR0-1-video-heading{
    display: none;
}
html body.lor0-1-refer .LOR0-1-influencers .box.two-third.wide{
    margin-bottom: 30px;
}
html body.lor0-1-refer .LOR0-1-influencers{
    margin-top: 130px;
}
@media screen and (min-width:840px) {
    html body.lor0-1-refer section.join-in__base {
        flex-direction: row-reverse !important;
        height: 100% !important;
    }
    html body.lor0-1-refer .LOR0-1-influencers .box.two-third.wide{
        max-width: 400px !important;

    }
    html body.lor0-1-refer .LOR0-1-influencers{
        margin-top: 70px;
    }
    html body.lor0-1-refer .aurora .follow-us__links img {
        width: 32px;
   }
}

@media screen and (max-width:839px) {
    html body.lor0-1-refer .LOR0-1-footer {
        margin-top: 64px !important;
        padding-top: 0px !important;
    }
    html body.lor0-1-refer section.join-in__base .view.join-in__content {
        margin-top: 60px;
    }
    html body.lor0-1-refer .LOR0-1-influencers .box.two-third {
        max-width: 100%;
    }
    html body.lor0-1-refer .how-it-works__base {
        width: 90% !important;
    }
    html body.lor0-1-refer .how-it-works__base  .view:not(.wide) .text.heading.level-2{
    width: 100%;
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 10px;
    
}
html body.lor0-1-refer section.join-in__base .join-in__media {
        margin-top: 50px !important;
    }
    html body.lor0-1-refer section.join-in__base {
        flex-direction: column-reverse !important;
        display: flex !important;
    }
    html body.lor0-1-refer .LOR0-1-video-section {
        flex-direction: column;
        align-items: center;
        margin-top: 80px !important;
        padding-top: 80px;
    }
    
    html body.lor0-1-refer .LOR0-1-video-section .LOR0-1-video-image-inr {
        margin-top: 0px;
        padding: 20px;
    }
    html body.lor0-1-refer .LOR0-1-video-text .LOR0-1-video-heading{
        display: none;
    } 
    html body.lor0-1-refer .LOR0-1-video-image .LOR0-1-video-heading{
        margin-bottom: 30px;
        font-size: 58px;
        line-height: .9;
        font-weight: normal;
        display: block;
        text-align: center;
    }
    html body.lor0-1-refer .LOR0-1-video-section .LOR0-1-video-content,
    html body.lor0-1-refer .LOR0-1-video-section .LOR0-1-video-text{
        width: 100%;
    }
    html body.lor0-1-refer .LOR0-1-video-section .LOR0-1-video-text .LOR0-1-subheading{
        max-width: 472px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 0px 10px;
    }
    html body.lor0-1-refer .LOR0-1-video-text .LOR0-1-button {
        width: -webkit-calc(100% - -webkit-calc(var(--space-xxl) * 2));
        width: calc(100% - calc(var(--space-xxl) * 2));
    }
    html body.lor0-1-refer .LOR0-1-influencers{
        margin-top: 50px;
    }
}
/* Slider Section */
html body.lor0-1-refer .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}


html body.lor0-1-refer .aurora div.influencers-slider .influencers-slider__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 10px;
}

html body.lor0-1-refer .influencers-slider__header img {
    max-width: 32px;
}

html body.lor0-1-refer .aurora div.influencers-slider .swiper-container {
    width: 100%;
}
html body.lor0-1-refer .aurora div.influencers-slider .swiper-slide {
    width: calc(100% - 112px);
}
html body.lor0-1-refer .aurora div.influencers-slider .influencers-slider__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-s);
}
html body.lor0-1-refer .aurora div.influencers-slider .influencers-slider__header img {
    border-radius: 50%;
    width: var(--space-xl);
    height: var(--space-xl);
    margin-right: var(--space-s);
}
@media (min-width: 840px) {
    /* .swiper-slide {
        max-width: 20%;
    } */
    
    html body.lor0-1-refer .aurora .influencers-layout {
        overflow-x: hidden;
   }
   html body.lor0-1-refer .aurora div.influencers-slider {
        max-width: calc(100vw - var(--layout-xxl));
        overflow: visible;
   }
   html body.lor0-1-refer .aurora div.influencers-slider .swiper-container {
        overflow: visible;
   }
   html body.lor0-1-refer .aurora div.influencers-slider div.swiper-slide {
        width: calc((66.66667vw / 3) - 32px);
   }
}


html body.lor0-1-refer .aurora .follow-us__links {
    display: flex;
    justify-content: center;
}
html body.lor0-1-refer .aurora .follow-us__links a {
    text-decoration: none;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
html body.lor0-1-refer .aurora .follow-us__links a:last-child {
    margin-right: 0;
}
