.eg-slider-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 600 !important;
    margin-top: 40px;
}

.egswiper {
    margin-top: 120px !important;
    margin-bottom: 50px;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}


.eg-wrapper img {
    width: 100%;
    max-height: 220px;
}

.eg-wrapper .eg-add-to-bag:hover {
    background: #23659f;
    color: #fff;
}


.eg-wrapper {
    padding: 15px;
    box-sizing: border-box;
}

.eg-wrapper img {
    max-width: 220px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.eg-product .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.eg-product .slick-dots li {
    background: transparent;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    font-size: 0px;
    border-radius: 100%;
    border: 3px solid #333333;
    cursor: pointer;
}

.eg-product .slick-dots li button {
    font-size: 0px;
}

.eg-product .slick-dots li.slick-active {
    background: #333333;
}

/* .egswiper .slick-track {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
} */

.eg-wrapper>a>.eg-product-text {
    text-align: center;
    display: block;
    margin-top: 20px;
}

button.eg-add-to-bag {
    border: 2px solid #23659f;
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
}

button.eg-add-to-bag span {
    display: block;
}

.egswiper .slick-arrow {
    position: absolute;
    top: 25%;
    display: flex;
}

.egswiper .slick-arrow.slick-prev {
    left: -10px;
    transform: translateY(-50%) rotate(-90deg);
}

.egswiper .slick-arrow.slick-next {
    right: -10px;
    transform: translateY(-50%) rotate(90deg);
}

.egswiper .slick-arrow svg {
    fill: #76736e;
    width: 30px;
    height: 30px;
}