.eg-product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #ffffff;
    box-shadow: rgb(49 103 161 / 30%) 0px 2px 4px 0px;
    border-radius: 4px;
    overflow: hidden;
}

.eg-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 22px;
    margin-top: 0px !important;
}

.eg-product-container .eg-image-section{
    width: 50%;
    background: #fff;
}

.eg-product-container .eg-content-section {
    width: 50%;
    background: #fff;
    padding: 35px 0px;
}
.eg-product-container .eg-img-box img {
    max-width: 100%;
    visibility: hidden;
}

.eg-product-container .eg-img-box {
    max-width: 193px;
    max-height: 132px;
}

.eg-product-container .eg-img-box:nth-child(1) {
    background: url('https://media.digikey.com/Photos/Telegesis%20Ltd/ETRX357HR-LRS.jpg');
    background-size: 200px;
    background-position: center top -50px;
    background-repeat: no-repeat;
}

.eg-product-container .eg-img-box:nth-child(2) {
    background: url('https://connectivity-staging.s3.us-east-2.amazonaws.com/2019-04/BL652-SA-RightLabel_0.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.eg-product-container .eg-img-box:nth-child(3) {
    background: url('https://media.digikey.com/photos/Microchip%20Tech%20Photos/WLR089U0-I-RM.jpg');
    background-size: 200px;
    background-position: center bottom -52px;
    background-repeat: no-repeat;
}
.tool-list-and-tab-box .container {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 730px;
}
.eg-content-inr {
    padding: 0px 3rem;
    box-sizing: border-box;
    border-left: 1px solid #cccccc;
}
.eg-image-inr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.eg-content-heading {
    margin-top: 0px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.eg-product-container .eg-button-link:hover{
    border: 1px solid #47a2f2;
    color: #ffffff;
    background: #47a2f2;
}
.eg-product-container .eg-button-link {
    box-shadow: rgb(49 103 161 / 30%) 0px 2px 4px 0px;
    line-height: 20px;
    padding: 0px 14px;
    height: 44px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    border: 1px solid #47a2f2;
    color: #47a2f2;
    text-decoration: none;
    text-transform: uppercase;
}
.eg-para {
    margin: 20px 0px 30px 0px;
}
@media screen and (max-width: 767px) {
    .eg-image-section .eg-image-inr {
        flex-direction: row;
        padding-top: 35px;
        justify-content: space-evenly;
    }
    html body .eg-product-container .eg-img-box{
        max-width: 100px;
        max-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center !important;
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    /* .eg-product-container .eg-img-box:nth-child(1) {
        background: url('https://media.digikey.com/Photos/Telegesis%20Ltd/ETRX357HR-LRS.jpg');
    }
    
    .eg-product-container .eg-img-box:nth-child(2) {
        background: url('https://connectivity-staging.s3.us-east-2.amazonaws.com/2019-04/BL652-SA-RightLabel_0.png');
    }
    
    .eg-product-container .eg-img-box:nth-child(3) {
        background: url('https://media.digikey.com/photos/Microchip%20Tech%20Photos/WLR089U0-I-RM.jpg');
    } */
    html body .eg-product-container {
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    html body .eg-product-container .eg-image-section {
        width: 100%;
    }
    
    html body .eg-product-container .eg-content-section {
        width: 100%;
        padding: 35px;
    }
    html body .eg-product-container .eg-content-inr {
        padding: 20px 0px 0px 0px;
        border-top: 1px solid #cccccc;
        border-left: 0px;
    }
}