main>section:nth-last-child(4) {
    height: 20rem !important;
}

main>section:nth-last-child(3) {
    display: none;
}

main>section:nth-last-child(2) {
    height: 7.88rem !important;
}

main>section:nth-last-child(2) .section-fit>div:nth-child(-n + 13) {
    display: none;
}

main>section:nth-last-child(2) .section-fit>div:nth-last-child(2) {
    top: 0.5rem !important;
}

main>section:nth-last-child(2) .section-fit>div:nth-last-child(1) {
    top: 4.4rem !important;
}

@media(max-width: 767px) {
    main>section:nth-last-child(2) {
        height: 7rem !important;
    }

    main>section:nth-last-child(2) .section-fit>div:nth-last-child(1) {
        top: 5rem !important;
    }

    main>section:nth-last-child(2) .section-fit>div:nth-last-child(2) {
        top: 1.1rem !important;
    }
}