@media screen and (max-width: 576px) {
    .plan-card .cta-wrap {
        flex-direction: column;
        order: 0;
        margin-top: 0;
        padding: 0;
    }
    
    .cta-wrap .btn-wrap{
        width: 98% !important;
        margin-block: 6px;
        margin-left: 0 !important;
    }

    .cta-wrap .btn-wrap:nth-child(2) > a{
        text-transform: capitalize;
    }
    
    .plan-card .plan-card__footer {
        background: #fff;
        order: -1;
    }
    
    div#postpaid-plan-card-items {
        margin-bottom: 25px;
    }
    
     .cta-wrap > div:nth-child(2) {
        order: -2;
    }
}