
 .eg_banner {
     display: flex;
     justify-content: space-around;
    align-items: center;
    background-position: center;
    margin-top: -3.8%;
    background-size: cover !important;
    background: url(https://static.bbus-static.com/shain/v1/dataservice/ResizeImage/$value?Format=%27png%27&Quality=90&Width=1500&Height=512&ImageUrl=355135.png&imageType=custom);
}

.eg_para,
.eg_banner h3 {
    padding-top: 3%;
}

.eg_bold p{
    font-weight: 600;
    display: inline-block;
    font-size: 24px;
}

.eg_bold {
    color: #fff;
}


p.eg_light {
    font-size: 17px;
    font-weight: 400;
    padding-left: 11px;
    color: rgb(255 255 255 / 85%);
}

.eg_banner h3{
    font-weight: 600;
    color: #fff;
    color: #ddd;
    font-size: 16px;
}

  @media (min-width: 856px) and (max-width: 992px) {
    .eg_banner {
       margin-top: -4.4%;
    }
    p.eg_str {
        font-size: 18px;
    }
    
    p.eg_light {
        font-size: 16px;
        padding-left: 5px;
    }
    
    .eg_banner h3 {
        font-size: 16px;
    }
    
    .eg_para, .eg_banner h3 {
        padding-top: 4.5%;
    }
  }

  @media (min-width: 769px) and (max-width: 855px) {
    p.eg_str {
        font-size: 16px;
    }
    
    p.eg_light {
        font-size: 15px;
        padding-left: 6px;
    }
    
    .eg_banner h3 {
        font-size: 15px;
    }
    .eg_para, .eg_banner h3 {
        padding-top: 5%;
    }

    .eg_banner {
        margin-top: -5.4%;
     }
    
  }

    @media screen and (max-width: 768px) {
        .eg_gift_wrap img {
            width: 100%;
            padding: 0;
            display: block;
            margin-top: -11%;
        }
    }
