.row.usp-block.bws-home-banner.egHydrationPower {
    position: relative !important;
    background: url(https://cdn.shopify.com/s/files/1/1428/0736/files/Aloe_Berry_Banner.png?v=1664953192) !important;
    background-position: center !important;
    background-size: cover !important;
    /*     width: 104%; */
    /*     left: 1%; */
}

div[id ^= 'shopify-section'] > div.home-top-section > div.container > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

.container {
    position: relative;
}

.home-top-section .usp-block .gradient-bg {
    text-align: center;
    padding-top: 20px;
}

.egSliderBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    left:50%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 7;
}

.egBtnMain > button {
    outline: none;
    border: 0;
    font-size: 20px;
    background: #0f0f0f;
    color: #FFF;
    padding: 2px 12px 0;
    font-weight: 800;
    cursor: pointer;
}

svg.egRightAro {
    position: absolute;
    z-index: 99;
    top: 5.7%;
    width: 52px;
    height: 62px;
    stroke: #404350;
    right: 10%;
    cursor: pointer;
}

svg#Layer_1 {
    position: absolute;
 z-index: 99;
 top: 5.9%;
 stroke: #404350;
 left: 10%;
 fill: #404350;
 cursor: pointer;
 height: 30px;
 width: 30px;
}

.egActive{
    background: #ffffff !important;
    color: #EB2848 !important;
}

.egRemove{
    opacity: 0 !important;
}

.row.usp-block.bws-home-banner.egHydrationPower {
    position: relative !important;
}

@media (min-width: 768px) and (max-width: 991px)  {
    .egBtnMain > button {
        width: max-content;
        font-size: 18px;
    }   

    svg.egRightAro {
        right: 5%;
    }
    svg#Layer_1 {
        left: 5%;
    }
}

@media screen and (max-width:767px) {
    .egBtnMain > button {
        font-size: 12px;
        background: #0f0f0f;
        width: max-content;
        right: 0 !important;
    }
    svg.egRightAro {
        right: 0;
    }
    svg#Layer_1 {
        left: 0;
    }
}

@media (min-width: 1600px) {
    svg.egRightAro {
        right: 18%;
    }
    
    svg#Layer_1{
        left: 18%;
    }
    
}
