.eg_container{
    max-width: 100%;
    margin: auto;
    background-color: hsl(66deg 23% 91%);
}

a.eg_card:hover {
    text-decoration: none;
}

.eg_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 95%;
    margin: auto;
    padding-block: 40px;
}

.eg_cards{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 gap: 20px;
}

.egImg {
    width: 100%;
}

.egImg img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 120px;
    border-radius: 10px 10px 0 0;
    object-position: 85%;
}

.eg_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    flex: 1;
    border-radius: 12px;
    flex-basis: 20%;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
}

.egHeading{
    background-color: #fff;
    color: #000;
    font-size: 1.1rem;
    padding-block: 10px;
    font-family: 'caustenRoundedMedium';
    font-weight: 800;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
}


h3.egTitle {
    font-size: 3.9rem;
}

p.egPara {
    font-family: 'caustenRoundedMedium';
    padding-bottom: 7px;
}



@media screen and (max-width: 767px) {
    h3.egTitle {
        font-size: 2.3rem;
        text-align: center;
    }
    p.egPara {
        text-align: center;
    }

    .egHeading{
        font-size: 1rem;
    }

    .egImg img{
        object-position: 80%;
    }
}

@media (min-width: 463px) and (max-width: 767px){
    .eg_card{
        flex-basis: 33%;
    }
  
}

@media (min-width: 768px) and (max-width: 991px){
    h3.egTitle {
        font-size: 2.8rem;
    }

    .egHeading {
        font-size: 1rem;
    }

    .eg_card {
        flex-basis: 33%;
    }
    
    .egImg img{
        object-position: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1025px) {
    .egImg img{
        object-position: 70%;
    }
}

@media screen and (max-width: 462px) {
    .eg_cards{
        padding-inline: 10px;
        gap: 10px;
    }

    .egHeading {
        font-size: 0.8rem;
    }
    
    .egImg img {
        object-position: 69%;
    }
    
    .eg_card {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 1600px) {
    .eg_wrapper{
        max-width: 1480px;
        width: 100%;
    }
}