.calendar-calendar,
.view .row>.list-group {
    width: 85%;
}

.booking-flow .main .extra .notes {
    margin-top: 0;
}


.booking-flow .main .extra .price-quantity {
    align-items: flex-start;
}

/*chevrons*/
html body .booking-flow .Collapsible__trigger:after {
    content: '' !important;
    background: url('https://editor-assets.abtasty.com/46121/6389f9042cf5f1669986564.svg');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

html body .booking-flow .Collapsible__trigger.is-closed:after {
    transform: rotate(180deg);
}


/*css for error message*/
.booking-flow .main .extra.capacity-error {
    background: transparent !important;
}

.booking-flow .main .extra.capacity-error .extra-inner {
    background: rgba(215, 36, 65, .24);
}

.extra-inner-capacity-message {
    padding: 16px;
}

/*css for error message*/

span.qualifier {
    color: #bdbdbd;
    font-size: 16px;
    margin-top: 3px;
    font-family: "Trade Gothic W01 Roman", Arial, Helvetica, sans-serif;
}

.booking-flow .main .extra:not(:has( + .extra)) .extra-inner {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.extra-inner {
    border: 1px solid #d0cdc5;
    border-radius: 5px 5px 0 0;
}

/*setting border-radius for child*/

.booking-flow .main .extra.child .extra-line-item {
    border-radius: 0;
}

.booking-flow .main .extra.child .extra-inner {
    padding-top: 16px;
    border-top: none;
    border-radius: 0 0 5px 5px;

}
/* setting border radius for child */

.booking-flow .main .extra:not(.child) {
    margin-bottom: 0;
}

.booking-flow .main .extra label {
    gap: 10px;
}

.booking-flow .main .extra .extra-description .text {
    padding-inline: 15px;
}

.booking-flow .main .extra .extra-description {
    width: 100%;
    margin-inline: 0 !important;
}

.booking-flow .main .extra .extra-description .text {
    width: 100%;
}

.booking-flow .main .extra.child {
    background-color: white;
    padding-top: 0;
}

.booking-flow .Collapsible__trigger:after {
    float: right;
    font-size: 18px;
}

.booking-flow .Collapsible {
    border-bottom: none;

}




.booking-flow .Collapsible+.Collapsible {
    margin-top: 28px;
}

div.price-quantity>span.totalPrice {
    font-weight: 400;
}

.booking-flow .main .extra label,
.booking-flow .main .extra .price-quantity {
    font-size: 20px;
    font-weight: 400;
    font-family: "NewBaskervilleW01-Roman", serif;

}


.booking-flow .main .extra .extra-description .text,
.booking-flow .main .extra .extra-description .notes {
    font-size: 16px;
}



.extra-description .text {
    padding: 5px 25px 10px;
}

.booking-flow .Collapsible__trigger {
    background-color: rgb(204 204 204 /35%);
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    border-radius: 4px;
}



.extra-line-item {
    background: #fff !important;
}

span.totalPrice {
    color: #1ba9e8;
    font-weight: 600;
}

.booking-flow .main .extra .price-quantity {
    float: none;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}


.booking-flow .main .extra .extra-line-item {
    padding: 0;
    border-radius: 5px;
}

.booking-flow .main .extra label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

.booking-flow input[type=checkbox] {
    cursor: pointer;
    order: 1;
    min-width: 24px;
    min-height: 24px;
}


.price-quantity {
    display: flex;
    gap: 15px;
    align-items: center;
}

.booking-flow .main .extra .notes .crew-message {
    border: none !important;
    padding: 0;
    margin: 0;
}

@media(min-width: 800px) {
    .booking-flow input[type=checkbox] {
        order: 1;
        min-width: 24px;
        min-height: 24px;
    }

    .booking-flow .main .extra label,
    .booking-flow .main .extra .price-quantity {
        padding-left: 4.5%;
        font-family: "NewBaskervilleW01-Roman", serif;
    }






}

.booking-flow .main .extra.child label,
.booking-flow .main .extra.child .price-quantity {
    padding-left: 16px;
}


@media(min-width: 768px) {

    .extras form .Collapsible .Collapsible__contentInner>div {
        padding: 20px 0 0 0;
    }

    .egImg {
        width: 200px;
        height: 100px;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .booking-flow .main .extra:not(.child) .extra-line-item {
        display: grid;
        grid-template-columns: 202px 1fr;
    }

    .booking-flow .main .extra label,
    .booking-flow .main .extra .price-quantity {
        padding-left: 4%;
    }

}

html body .booking-flow input[type=checkbox] {
    position: relative;
}

html body .booking-flow input[type=checkbox]:checked::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('https://editor-assets.abtasty.com/46121/6389f8d421c6b1669986516.svg');
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    border: 1px solid;
    border-radius: 2px;
}

@media(max-width: 767px) {
    .extras form .Collapsible .Collapsible__contentInner>div {
        padding-top: 10px;
    }

    /* .steps {
        width: 100%;
    } */

    .egImg {
        width: 100% !important;
    }

    #booking-flow>div>div.steps {
        width: 100%;
    }


    .extra-line-item {
        display: flex !important;
        flex-direction: column;
    }

    html body .booking-flow input[type=checkbox] {
        order: 1;
        min-width: 24px;
        min-height: 24px;
        accent-color: white;
    }



    /* .booking-flow .step {
        font-size: 1.5rem;
    }

    .booking-flow .step {
        padding-top: 9px;
    } */

    .booking-flow .booking-details {
        margin-bottom: 11px;
    }

    .booking-flow .main .extra label {
        padding: 10px 10px 0 10px;
    }

    .booking-flow .main .extra .price-quantity {
        padding: 10px;
    }

    .extra-description .text {
        padding: 0 10px 10px;
        width: 100%;
    }

    .booking-flow .main .extra {
        padding: 0;
    }

    .booking-flow .Collapsible__trigger {
        width: 100%;
    }
}