@media(max-width: 767px) {
    .pdp--header.mobile .product-artist {
        background-color: rgb(255, 217, 43);
        width: 100%;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        padding: 5px 20px;
        text-align: center;
        color: #000 !important; 
    }
    .product-info-bottom.in-mobile{
        margin-top: 0;
    }
}