html {
    scroll-behavior: smooth;
}

#container-to-scroll > div:nth-child(2) > div > div:has(.l-wizard-section__container){
    cursor: pointer;
}


.eg-inactive-section{
    max-height: 0;
    overflow: hidden;
}

/*arrow*/
/*#container-to-scroll > div:nth-child(2) > div > div:has(.l-wizard-section__container)::before {
    content: 'V';
    position: absolute;
    top: 30px;
    right: 30px;
}

#container-to-scroll > div:nth-child(2) > div > div:has(.l-wizard-section__container):nth-child(4)::before {
    content:"";
}

#container-to-scroll > div:nth-child(2) > div > div:has(.l-wizard-section__container) {
    position: relative;
}

.eg-active-section::before{
    content:"Ʌ";
    rotate: 180deg;
}*/