@media only screen and (max-width: 600px) {
    .eg_container {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Proxima-Nova";
        margin: 0 20px;

    }

    .eg_container .eg_bag {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        background: #f2f2f2;
        padding: 10px !important;
    }

    .eg_container .eg_bag p {
        font-size: 15px;
        margin: 0px !important;
    }

    .eg_container .eg_bag span {
        font-size: 15px;
        padding-left: 6px !important;
        color: #000000;
    }

    .eg_container .eg_bag h2 {
        color: #494141;
        font-weight: 900 !important;
        font-size: 20px !important;
        margin: 0px !important;
    }

    .eg_container .eg_bag p span#eg_rprice {
        padding-right: 6px;
        text-decoration: line-through !important;
    }

    .eg_container .eg_checkout {
        margin-block: 10px !important;
        text-align: center !important;
        background: #8caedc;
    }

    .eg_container .eg_checkout a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding-block: 10px !important;
    }

    .eg_container .eg_collect {
        text-align: center !important;
        border: 2px solid #8caedc;
    }

    .eg_container .eg_collect a {
        color: #8caedc;
        text-decoration: none;
        display: block;
        padding-block: 10px !important;
    }
}

@media only screen and (min-width: 601px) {
    .eg_container {
        display: none !important;
    }
}