@media(min-width: 768px) {
    .form--product__field--Size {
        order: 2;
    }


    .form--product__field--Size .form--product__dropdown-toggle-wrapper:not(:has(input[type="radio"]:checked)) .form--product__dropdown-toggle span:nth-child(1) {
        background: #d7857a;
    }

    .form--product__add-to-cart button{
        padding-inline: 10px;
    }

    .form--product__add-to-cart button span.atc-label{
        flex-basis: 70% !important;
    }
}