html body .eg-text {
    line-height : 1.1;
    font-family: ITCGaramondStd-LtCond;
    font-weight : 400;
    font-style : normal;
    text-align : center;
    color : rgb(255, 255, 255);
    font-size : 36px;
    margin-right : 10px;
  }
  html body .eg-review-container > .eg-text{
    margin-right: 0px;
    margin-bottom: 10px;
  }
  html body .eg-review-text {
    margin-left : 10px;
    font-family: ITCGaramondStd-LtCond;
    font-size : 20px;
  }
  
  html body img.hero__logo {
    margin-bottom : 10px;
  }
  
  .eg-star svg {
    width : 30px !important;
    height : 30px !important;
  }
  
  .eg-star svg path.star {
    fill: rgb(221 225 215) !important; 
    stroke: #dce0d7;
  }
  
  html body .eg-review {
    text-align : center;
    display : flex;
    align-items : center;
    justify-content : center;
    margin-bottom : 40px;
    color : rgb(255, 255, 255);
  }
    
  @media screen and (min-width:768px) {
    html body .eg-text-mobile{
        display: none;
    }
  }

  @media screen and (max-width:1050px) {
    html body .eg-review-container{
        margin-top: 40px;
    }
  }
  @media screen and (max-width:767px) {
    html body .eg-text-desktop{
            display: none;
        }
        html body .eg-text {
          font-size:25px !important;
      }
      html body .eg-review-container > .eg-text{
        margin-right: 0px;
        margin-bottom: 10px;
      }
      
      html body .eg-star svg {
        width : 20px !important;
        height : 20px !important;
    }

  }
  html body .eg-review-container{
    text-align: center;
}
  .eg-shop-button{
    width: 340px;
  }
  .site__wrapper a:not(.eg-shop-button)[href="/collections/store"] {
    display: none;
}
.hero__ticker-height {
  display: none !important;
}
@media screen and (max-width:360px) {
  html body .eg-shop-button {
    width: auto;
  }
}