
.CMS-min-banner img{
    max-height: 100%;
    height: 220px;
}


/* .CMS-min-banner img */
@media screen and (max-width: 767px){
    .CMS-min-banner img {
        max-height: 100%;
        height: 125px;
    }
}