.eg-title {
    color: #fff;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-top: 0.75rem;
    padding-right: 0.75rem;
    pointer-events: none;
    position: relative;
}

.eg-para {
    font-size: .75rem;
    line-height: 1rem;
    margin: 0.5rem 0 0;
    pointer-events: none;
}

div[class^='collection-card__content']:has(.eg-title) div[class^='collection-card__type-label'],
div[class^='collection-card__content']:has(.eg-title) h3[class^='collection-card__title'],
div[class^='collection-card__content']:has(.eg-title) p[class^='collection-card__description']{
	display: none !important;
}


@media (min-width: 760px) {
    .eg-title {
        margin-top: 0.5rem;
        padding-right: 1rem;
    }

    .eg-para {
        display: none;
        opacity: 0;
    }

    div[class^='collection-card']:hover .eg-para {
        display: block;
        animation-delay: .5s;
        animation-duration: .25s;
        animation-fill-mode: forwards;
        animation-name: collections-hero-desc-enter-animation___1_UAI;
        animation-timing-function: ease-out;
    }
}

@media (min-width: 960px) {
    .eg-title {
        font-size: 1.1875rem;
        line-height: 1.6875rem;
    }
}


@media (min-width: 1280px) {
    .eg-title {
        font-size: 1.75rem;
        line-height: 2.25rem;
        margin-top: 1rem;
        padding-right: 1.5rem;
    }

    .eg-para {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

