/* html body .free-hero-cont,
html body .free-hero-wrap,
html body.free .header-container-wrapper,
html body .body-container-wrapper .row-fluid-wrapper.row-depth-1.row-number-1 {
    background: #052534 !important;
} */

html body .row-fluid-wrapper.row-depth-1.row-number-6>.row-fluid,
html body .header-container-wrapper .header-container.container-fluid:after,
html body .header-container-wrapper .header-container.container-fluid:before {
    display: none
}

html body .header-container-wrapper .header-container.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #2547fe; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: 100%;
    padding: 1rem 2%;
    box-sizing: border-box;
}

html body .eg-hero-heading {
    padding: 0px;
    text-align: left !important;
    /* font-family: freight-text-pro, sans;
    font-weight: 600 !important; */
    line-height: 1;
    font-size: 48px;
    letter-spacing: -0.77px;
}

html body .eg-hero-heading strong {
    display: block;
    color: #deff5b;
}

html body .eg-hero-subheading {
    margin: 0px;
    font-size: 18px;
    line-height: 1.444rem;
    color: #fff !important;
    font-family: freight-sans-pro, sans-serif;
}

html body .free-hero-cont {
    margin-top: -2px !important;
}

html body .eg-left-section .eg-heading {
    color: #ffffff !important;
    font-size: 27px;
    line-height: 1.3;
    margin-top: -2px;
}

html body .eg-left-section .eg-list {
    padding: 0px;
}

html body .eg-left-section .eg-list li {
    list-style: none;
    padding-left: 35px;
    margin-bottom: 10px;
    font-family: freight-sans-pro, sans-serif;
    position: relative;
    font-size: 19px;
    color: #ffffff;
}

html body .eg-left-section .eg-list li svg {
    max-height: 17px;
    max-width: 16px;
    fill: #ffffff;
    position: absolute;
    left: 9px;
    top: 4px;
}

html body .int-sec-cont {
    padding-left: 2% !important;
    padding-right: 2% !important;
    box-sizing: border-box !important;
    max-width: 1280px !important;
}

.row-fluid-wrapper.row-depth-1.row-number-7 .row-fluid>div {
    box-sizing: border-box;
}

html body .free-hero-cont {
    padding-top: 25px !important;
}

html body .row-fluid-wrapper.row-depth-1.row-number-7 {
    padding-top: 30px !important;
}

html body .row-fluid-wrapper.row-depth-1.row-number-7,
html body .free-hero-cont {
    max-width: 1280px !important;
    width: 100% !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    box-sizing: border-box;
    margin: 0 auto;
}

html body .eg-logo-conatiner {
    text-align: center;
    margin-top: 50px;
}

html body .eg-logo-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

html body .eg-logo-box img {
    max-width: 137px;
    opacity: .6;
    filter: grayscale(1);
    margin: 10px;
}

html body .logo-heading {
    margin-bottom: 25px;
}

.row-fluid-wrapper.row-depth-1.row-number-7 .row-fluid>div:nth-child(2) {
    padding: 35px 3% 35px 3%;
    background: #ffffff !important;
    -webkit-box-shadow: 0px 0px 18px 4px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0px 0px 18px 4px rgb(0 0 0 / 25%);
    box-shadow: 0px 0px 18px 4px rgb(0 0 0 / 25%);
    width: 41% !important;
    margin-left: auto;
}

.eg-logo .icon path {
    fill: #fff !important;
}

html body.landing-page.two-column h3.form-title {
    font-size: 24px;
    text-transform: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: freight-sans-pro, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

body .hs-button.primary {
    width: auto !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #2547fe !important;
    margin-bottom: 0px;
}

@media screen and (min-width:1200px) {

    html body .free-hero-wrap .free-hero-cont {
        padding-left: 2% !important;
        padding-right: 2% !important;
    }

    html body .header-container-wrapper .header-container.container-fluid {
        padding: 1rem 2% !important;
    }

}

html body .eg-para svg {
    min-width: 26px;
    width: 26px;
    height: 26px;

}

html body .eg-para>svg {
    transform: rotate(-180deg);
    top: -6px;
    position: relative;
}

@media screen and (min-width: 1024px) {

    html body .eg-para svg {
        fill: #fff;
    }

    html body .eg-mobile-logo-container,
    html body .eg-mobile-section,
    html body .eg-logo .eg-hamburger-icon {
        display: none;
    }

    html body .eg-logo-conatiner {
        max-width: 530px;
    }

    html body .eg-para span {
        max-width: 495px;
    }

    html body .eg-left-section .eg-list {
        max-width: 560px;
    }


    html body .row-fluid-wrapper.row-depth-1.row-number-7 {
        padding-bottom: 100px !important;
    }

    html body .row-fluid-wrapper.row-depth-1.row-number-7>div {
        display: flex;
    }

    .row-fluid-wrapper.row-depth-1.row-number-7 .row-fluid>div {
        width: 48% !important;
        box-sizing: border-box;
    }

}



html body .eg-para {
    display: flex;
    align-items: baseline;
    margin: 45px 0px;
}

html body .eg-para img {
    max-width: 30px;
    margin-bottom: 8px;
}

html body .eg-para span img {
    transform: rotateZ(178deg);
}

html body .eg-para span {
    padding-left: 4px;
    line-height: 1.2;
    font-family: freight-text-pro, sans-serif;
    font-size: 29px;
    letter-spacing: -0.3px;
    color: #ffffff;
    font-style: italic;
}


@media screen and (max-width: 1023px) {
    html body.landing-page .widget-span.widget-type-cell.top-int-sec {
        background: linear-gradient(rgba(58, 67, 202, .8), rgba(58, 67, 202, .8)), url('https://sitetuners.com/clients/deepinstinct/night-mountain-range-with-city-view.jpg');
    }

    html body.landing-page .row-fluid .row-fluid-wrapper.row-depth-1.row-number-7 {
        padding: 0px 0px 00px 0px !important;

    }

    html body:before {
        height: 61% !important;
    }

    html body .eg-left-section .eg-logo-conatiner,
    html body .eg-left-section .eg-image-container,
    html body .eg-left-section .eg-para,
    html body .eg-left-section .eg-list,
    html body .eg-left-section .eg-heading {
        display: none;
    }

    html body .eg-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    html body .eg-logo .eg-hamburger-icon {
        display: flex;
        width: 42px;
        height: 42px;
        background: rgb(222, 255, 91);
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    html body .eg-logo .eg-cross-hamburger-inr {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 14px;
        height: 21px;
        margin-left: 2px;
    }

    html body .eg-logo .eg-cross-hamburger-inr span {
        background: #000;
        height: 3px;
        margin: 2px 0;
        transition: .3s cubic-bezier(.68, -.6, .32, 1.6);
        width: 100%;
    }

    html body .eg-logo .eg-cross-hamburger-inr span:nth-child(1) {
        width: 7px;
    }

    .row-fluid-wrapper.row-depth-1.row-number-7 .row-fluid>div {
        width: 100% !important;
        box-sizing: border-box;
    }

    html body .eg-left-section {
        padding-top: 0px !important;
    }

    html body .eg-left-section .eg-image-container {
        text-align: center;
        padding: 0px 2%;
    }

    html body .eg-left-section .eg-left-section-container {
        max-width: 600px;
        margin: 0 auto 0px;
        padding: 0px 2% 30px 2% !important;
    }

    /* html body .eg-left-section .eg-left-section-inr {
        background: #052534;
    } */

    html body .row-fluid-wrapper.row-depth-1.row-number-7 .row-fluid>div:nth-child(2) {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
    }

    html body .row-fluid-wrapper.row-depth-1.row-number-7>.row-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.body-container-wrapper .row-fluid-wrapper.row-number-1 .row-fluid [class*="span"] {
    min-height: 0px !important;
}

@media screen and (max-width:1100px) and (min-width:1024px) {
    /* html body.landing-page .widget-span.widget-type-cell.top-int-sec {
        background: linear-gradient(to bottom, #052534 50.3%, #ffffff 0) !important;
    } */

}

@media screen and (max-width: 767px) {
    html body:before {
        background: linear-gradient(rgba(58, 67, 202, .8), rgba(58, 67, 202, .8)), url('https://sitetuners.com/clients/deepinstinct/night-mountain-range-with-city-view-mobile.jpg') !important;
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
    }

    html body .row-fluid-wrapper.row-depth-1.row-number-7 .row-fluid>div:nth-child(2) {
        padding: 35px 24px 35px 24px !important;
    }

    html body.landing-page .eg-hero-heading {
        font-size: 34px;
    }

    html body.landing-page .row-fluid-wrapper.row-depth-1.row-number-7 .row-fluid>div:nth-child(2) {
        width: calc(100% - 40px) !important;
    }
}

@media screen and (max-width:500px) {
    html body .eg-mobile-section-inr .eg-para span {
        font-size: 22px;
    }

    html body:before {
        height: 63% !important;
    }

    html body.landing-page .eg-left-section .eg-left-section-container {
        padding: 0px 24px 30px 24px !important;
    }

    html body.landing-page .eg-left-section .eg-image-container {
        padding: 0px 24px 0px 24px !important;
    }

    html body .row-fluid-wrapper.row-depth-1.row-number-7,
    html body .free-hero-cont,
    html body .row-fluid-wrapper.row-number-3,
    html body .header-container-wrapper .header-container.container-fluid {
        padding: 1rem 24px !important;
    }
}

html body .widget-span.widget-type-cell.top-int-sec {
    width: 100% !important;
    max-width: 100% !important;
    background: transparent !important;
}


html body .widget-span.widget-type-cell.top-sec-group {
    padding-top: 0px;
    background: transparent !important;
}

html body .row-fluid-wrapper.row-depth-1.row-number-8,
html body .row-fluid-wrapper.row-depth-1.row-number-2>.row-fluid {
    display: none;
}

html body .row-fluid-wrapper.row-number-7 .top-sec-form form,
html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-2 {
    display: flex;
    flex-direction: column;
}


html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-2>.hs-form-field {
    width: 100% !important;
}

html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-1 label,
html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-2>.hs-form-field>label {
    display: inline-block !important;
    color: #052534 !important;
    text-transform: capitalize;
}

html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-1 select,
html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-2>.hs-form-field select,
html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-2>.hs-form-field input {
    border: 1px solid #ccc !important;
    background: transparent !important;
    padding-left: 12px !important;
    width: 100% !important;
    color: #052534 !important;
}

html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-1 select::placeholder,
html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-2>.hs-form-field select::placeholder,
html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-2>.hs-form-field input::placeholder {
    color: transparent;
}

html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-1 .input,
html body .row-fluid-wrapper.row-number-7 .top-sec-form form .form-columns-2 .input {
    margin-right: 0px;
}

html body.free .legal-consent-container p {
    color: #052534 !important;
    width: 100% !important;
}

html body .row-fluid-wrapper .top-sec-form form.hs-form.hs-custom-form .hs-company_size label,
html body .row-fluid-wrapper .top-sec-form form.hs-form.hs-custom-form .hs-country label {
    display: none !important;

}

html body .row-fluid-wrapper .top-sec-form form.hs-form.hs-custom-form .hs-company_size,
html body .row-fluid-wrapper .top-sec-form form.hs-form.hs-custom-form .hs-country {
    margin-top: 20px !important;
}

body .body-container-wrapper,
body.free .header-container-wrapper {
    background: transparent !important;
    position: relative;
    z-index: 1;
}

body {
    position: relative;
}

body:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60%;
    background: linear-gradient(rgba(58, 67, 202, .8), rgba(58, 67, 202, .8)), url('https://sitetuners.com/clients/deepinstinct/night-mountain-range-with-city-view.jpg');
    content: '';
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;

}

.footer-container-wrapper .widget-type-custom_widget {
    background: #ffffff !important;
    color: #052534 !important;
    /* border-top: 1px solid #052534; */
}

.footer-container-wrapper .widget-type-custom_widget p span {
    color: #052534 !important;
}


/* mobile section */
body .eg-mobile-section-inr {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 24px 60px 24px !important;
}

body.free .footer-container-wrapper {
    background: #ffffff !important;
}

html body .eg-mobile-section-inr .eg-heading {
    color: #052534 !important;
    font-size: 27px;
    line-height: 1.3;
    margin-top: -2px;
}

html body .eg-mobile-section-inr .eg-list {
    padding: 0px;
}

html body .eg-mobile-section-inr .eg-list li {
    list-style: none;
    padding-left: 35px;
    margin-bottom: 10px;
    font-family: freight-sans-pro, sans-serif;
    position: relative;
    font-size: 19px;
    color: #052534;
}

html body .eg-mobile-section-inr .eg-list li svg {
    max-height: 17px;
    max-width: 16px;
    fill: #052534;
    position: absolute;
    left: 9px;
    top: 4px;
}

html body .eg-mobile-section-inr .eg-para span {
    color: #052534;
}

html body .eg-mobile-logo-container {
    margin-top: 0px;
    padding-bottom: 60px;
    position: relative;
}

.eg-mobile-section {
    background: #Ffffff;
}

html body .eg-mobile-logo-container .logo-heading {
    color: #ffffff !important;
    padding-top: 10px;
}

html body .eg-mobile-logo-container .eg-logo-box img {
    opacity: 1;
    filter: none;
}