html body.eg-currency-trf  #islognout .form_row{
    display: none;
}

html body.eg-currency-trf .calculator #register-with-us, 
html body.eg-currency-trf .calculator #modal-btn {
    /* width: calc(100% - 61px); */
    display: block;
    min-height: auto;
    color: #000;
    font-size: 20px;
}
html body.eg-currency-trf .calculator .currency-btn.calculatorBtn {
    margin-top: 150px !important;
    margin-bottom: 20px;
    width: 100%;
    justify-content: stretch;
    padding-top: 15px !important;
}
html body.eg-currency-trf .calculator .customBtn.calculatorButton {
    width: 100%;
    padding-right: 0px;
}

html body.eg-currency-trf .calculator .hometransfer-bank-box {
    float: none;
    order: -1;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
}
html body.eg-currency-trf .calculator .hometranfer-new-box-row.conversionRateField {
    margin-top: 20px;
}
html body.eg-currency-trf .calculator .hometransfer-bank-text {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 14px;
}
html body.eg-currency-trf .calculator .hometransfer-bank-drop-down ul {
    width: 100%;
}
html body.eg-currency-trf .calculator .calCurrencyField {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

html body.eg-currency-trf .calculator .hometransfer-bank-drop-down {
    width: 100%;
    top: 35px;
}



html body.eg-currency-trf .calculator .calculatorRow2{
    margin-top: 0px;
}

html body.eg-currency-trf .calculator .boldText span.floatR, 
html body.eg-currency-trf .calculator .boldText span.floatR span,  
html body.eg-currency-trf .calculator .hometranfer-new-box-row  span.hometranfer-new-box-text {
    font-size: 17px;
}
html body.eg-currency-trf .calculator .eg-notice{
    font-size: 12px;
    margin-top: 20px;
    text-align: left;
}

@media screen and (min-width:801px) {
   
html body.eg-currency-trf #islognout .calculator .container {
    width: 100%;
    max-width: 100%;
}

html body.eg-currency-trf .calculator .inpu_field_section {
    width: 100%;
    flex-direction: column;
}
html body.eg-currency-trf .calculator .row-bannerTwoCol {
    display: flow-root;
}
html body.eg-currency-trf .calculator .hometranfer-box-show {
    width: 90%;
    position: relative;
}
html body.eg-currency-trf .calculator .leftbtncont {
    top: 38px!important;
    right: 5px !important;
}
html body.eg-currency-trf .calculator .rightbtncont {
    top: 100px!important;
    right: 5px !important;
}
html body.eg-currency-trf .calculator .hometranfer-row-amount {
    /* top: -40px; */
    width: 100%;
}
html body.eg-currency-trf .calculator .hometranfer-row-amount-mid {
    width: 100% !important;
    /* margin-top: 10px; */
}
html body.eg-currency-trf .calculator .amount-wrapper.hometranfer-row.hometranfer-amountbg {
    width: 100% !important;
    /* margin-bottom: 20px; */
    top: 30px;
    position: absolute;
}
html body.eg-currency-trf .calculator div#calculatorTab_one {
    flex-direction: column;
    margin-bottom: 20px;
}

html body.eg-currency-trf .calculator .hometranfer-new-box-row {
    width: 100% !important;
}
html body.eg-currency-trf .calculator input#sourch_search {
    right: 0;
    top: 70px;
    width: 100%;
    z-index: 100;
}
html body.eg-currency-trf .calculator input#dest_search {
    right: 0px;
    top: 142px;
    width: 100%;
    z-index: 100;
}
html body.eg-currency-trf .calculator .on_phone {
    display: block !important;
}
html body.eg-currency-trf .calculator .on_desktop {
    display: none !important;
}
html body.eg-currency-trf .calculator #destination-dropdown h6 {
    position: absolute;
    top: 60px;
}
html body.eg-currency-trf .calculator .hometranfer-row-amount.hometranfer-row-amount-line {
    margin-bottom: 55px;
}
html body.eg-currency-trf .calculator #calculatorTab_one #source-dropdown .dropdown-menu.showactive {
    transform: translate3d(0px, 67px, 0);
    z-index: 99;
    right: 0;
    width: 100%;
}
html body.eg-currency-trf .calculator #calculatorTab_one #destination-dropdown .dropdown-menu.showactive {
    transform: translate3d(0px, 120px, 0px);
    z-index: 9;
    right: 0;
    width: 100%;
    top: 18px;
}
html body.eg-currency-trf .calculator #calculatorTab_one .calculatorField {
    width: 100% !important;
    padding: 0;
}
html body.eg-currency-trf .calculator #calculatorTab_two {
    width: 90%;
    margin: 0 auto;
}
html body.eg-currency-trf .calculator .calculatorRow2 #calculatorTab_two .calculatorField {
    padding: 0%;
    margin: 15px 0;
}
html body.eg-currency-trf .calculator .calculatorRow2 #calculatorTab_two .custom_row .customBtn {
    padding: 15px 0 !important;
}
html body.eg-currency-trf .calculator .whiteBoxContainer {
    padding: 30px 20px;
}

html body.eg-currency-trf .calculator.fixedCalculator {
    position: static;
}

html body.eg-currency-trf .calculator.fixedCalculator .fixed_cal_logo,
html body.eg-currency-trf .calculator.fixedCalculator .moredetails.calculationTooltip {
    display: none;
}

html body.eg-currency-trf .calculator_clone.active {
    height: 1px;
}


html body.eg-currency-trf .calculator .calCurrencyField .hometranfer-new-box-text.horizontal-calculater-hide:nth-child(1) {
    margin-right: 5px;
}
}

@media screen and (max-width:960px) and (min-width:801px) {
    html body.eg-currency-trf .calculator .leftbtncont {
        top: 42px!important;
    }
    
    html body.eg-currency-trf .calculator .hometranfer-row-amount.hometranfer-row-amount-line {
        margin-bottom: 61px !important;
    }
    html body.eg-currency-trf .calculator .amount-wrapper.hometranfer-row.hometranfer-amountbg{
        top: 41px !important;
    }
}

@media screen and (max-width:800px) {
    html body.eg-currency-trf .calculator .whiteBoxContainer {
        margin-bottom: 30px;
    }
}
@media screen and (max-width:800px) and (min-width:768px) {
    html body.eg-currency-trf .tranfer-paid{
        padding-left: 55px !important;
    }
}