@media screen and (max-width:767px) {
  .main-image .carousel-cell {
    margin: 0px 10px 0px 0px !important;
   padding : 0px !important
   }
 .main-image .carousel-cell {
   width: 66% !important;
   /* height: 200px; */
   margin-right: 10px !important;
   border-radius: 5px;
   counter-increment: carousel-cell;
 }
 .template-product .product-template__container .product-thumbs{
     display: none !important; 
 }
 .template-product .main-image .flickity-prev-next-button {
   display: block;
   background-image: none !important;
   position: absolute;
   background: #ffffff;
   border: none;
   color: #333;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   transform: translateY(-50%);
   top: 50%;
 }
 .template-product .flickity-prev-next-button svg{
   display: block !important;
 }
 
}
