/*hiding that white image in between hero section and section with people image*/
#p-bg-n #bg1-n {
    display: none;
}



.eg-pricing {
    gap: 5px;
    z-index: 999;
    width: 100%;
    max-width: 165px;
    height: 165px;
    background: #41678c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
    /* gap: 4px; */
    position: absolute;
    top: 10px;
    left: 40%;
}

.eg-pricing {
    clip-path: polygon(100.00% 50.00%, calc(99.38% - 9.88px) calc(57.82% - 1.56px), 97.55% 65.45%, calc(94.55% - 8.91px) calc(72.70% - 4.54px), 90.45% 79.39%, calc(85.36% - 7.07px) calc(85.36% - 7.07px), 79.39% 90.45%, calc(72.70% - 4.54px) calc(94.55% - 8.91px), 65.45% 97.55%, calc(57.82% - 1.56px) calc(99.38% - 9.88px), 50.00% 100.00%, calc(42.18% - -1.56px) calc(99.38% - 9.88px), 34.55% 97.55%, calc(27.30% - -4.54px) calc(94.55% - 8.91px), 20.61% 90.45%, calc(14.64% - -7.07px) calc(85.36% - 7.07px), 9.55% 79.39%, calc(5.45% - -8.91px) calc(72.70% - 4.54px), 2.45% 65.45%, calc(0.62% - -9.88px) calc(57.82% - 1.56px), 0.00% 50.00%, calc(0.62% - -9.88px) calc(42.18% - -1.56px), 2.45% 34.55%, calc(5.45% - -8.91px) calc(27.30% - -4.54px), 9.55% 20.61%, calc(14.64% - -7.07px) calc(14.64% - -7.07px), 20.61% 9.55%, calc(27.30% - -4.54px) calc(5.45% - -8.91px), 34.55% 2.45%, calc(42.18% - -1.56px) calc(0.62% - -9.88px), 50.00% 0.00%, calc(57.82% - 1.56px) calc(0.62% - -9.88px), 65.45% 2.45%, calc(72.70% - 4.54px) calc(5.45% - -8.91px), 79.39% 9.55%, calc(85.36% - 7.07px) calc(14.64% - -7.07px), 90.45% 20.61%, calc(94.55% - 8.91px) calc(27.30% - -4.54px), 97.55% 34.55%, calc(99.38% - 9.88px) calc(42.18% - -1.56px));
    /*animation: spikeAnimation 0.4s ease-in-out infinite;*/
}

/*@keyframes spikeAnimation {
    0% {
        clip-path: polygon(100.00% 50.00%, calc(99.04% - 9.81px) calc(59.75% - 1.95px), 96.19% 69.13%, calc(91.57% - 8.31px) calc(77.78% - 5.56px), 85.36% 85.36%, calc(77.78% - 5.56px) calc(91.57% - 8.31px), 69.13% 96.19%, calc(59.75% - 1.95px) calc(99.04% - 9.81px), 50.00% 100.00%, calc(40.25% - -1.95px) calc(99.04% - 9.81px), 30.87% 96.19%, calc(22.22% - -5.56px) calc(91.57% - 8.31px), 14.64% 85.36%, calc(8.43% - -8.31px) calc(77.78% - 5.56px), 3.81% 69.13%, calc(0.96% - -9.81px) calc(59.75% - 1.95px), 0.00% 50.00%, calc(0.96% - -9.81px) calc(40.25% - -1.95px), 3.81% 30.87%, calc(8.43% - -8.31px) calc(22.22% - -5.56px), 14.64% 14.64%, calc(22.22% - -5.56px) calc(8.43% - -8.31px), 30.87% 3.81%, calc(40.25% - -1.95px) calc(0.96% - -9.81px), 50.00% 0.00%, calc(59.75% - 1.95px) calc(0.96% - -9.81px), 69.13% 3.81%, calc(77.78% - 5.56px) calc(8.43% - -8.31px), 85.36% 14.64%, calc(91.57% - 8.31px) calc(22.22% - -5.56px), 96.19% 30.87%, calc(99.04% - 9.81px) calc(40.25% - -1.95px));
    }

    40% {
        clip-path: polygon(100.00% 50.00%, calc(98.55% - 9.71px) calc(61.97% - 2.39px), 94.27% 73.24%, calc(87.43% - 7.49px) calc(83.16% - 6.63px), 78.40% 91.15%, calc(67.73% - 3.55px) calc(96.75% - 9.35px), 56.03% 99.64%, calc(43.97% - -1.21px) calc(99.64% - 9.93px), 32.27% 96.75%, calc(21.60% - -5.68px) calc(91.15% - 8.23px), 12.57% 83.16%, calc(5.73% - -8.85px) calc(73.24% - 4.65px), 1.45% 61.97%, calc(0.00% - -10.00px) calc(50.00% - -0.00px), 1.45% 38.03%, calc(5.73% - -8.85px) calc(26.76% - -4.65px), 12.57% 16.84%, calc(21.60% - -5.68px) calc(8.85% - -8.23px), 32.27% 3.25%, calc(43.97% - -1.21px) calc(0.36% - -9.93px), 56.03% 0.36%, calc(67.73% - 3.55px) calc(3.25% - -9.35px), 78.40% 8.85%, calc(87.43% - 7.49px) calc(16.84% - -6.63px), 94.27% 26.76%, calc(98.55% - 9.71px) calc(38.03% - -2.39px));
    }

    80% {
        clip-path: polygon(100.00% 50.00%, calc(97.55% - 9.51px) calc(65.45% - 3.09px), 90.45% 79.39%, calc(79.39% - 5.88px) calc(90.45% - 8.09px), 65.45% 97.55%, calc(50.00% - 0.00px) calc(100.00% - 10.00px), 34.55% 97.55%, calc(20.61% - -5.88px) calc(90.45% - 8.09px), 9.55% 79.39%, calc(2.45% - -9.51px) calc(65.45% - 3.09px), 0.00% 50.00%, calc(2.45% - -9.51px) calc(34.55% - -3.09px), 9.55% 20.61%, calc(20.61% - -5.88px) calc(9.55% - -8.09px), 34.55% 2.45%, calc(50.00% - -0.00px) calc(0.00% - -10.00px), 65.45% 2.45%, calc(79.39% - 5.88px) calc(9.55% - -8.09px), 90.45% 20.61%, calc(97.55% - 9.51px) calc(34.55% - -3.09px));
    }

    100% {
        clip-path: polygon(100.00% 50.00%, calc(99.38% - 9.88px) calc(57.82% - 1.56px), 97.55% 65.45%, calc(94.55% - 8.91px) calc(72.70% - 4.54px), 90.45% 79.39%, calc(85.36% - 7.07px) calc(85.36% - 7.07px), 79.39% 90.45%, calc(72.70% - 4.54px) calc(94.55% - 8.91px), 65.45% 97.55%, calc(57.82% - 1.56px) calc(99.38% - 9.88px), 50.00% 100.00%, calc(42.18% - -1.56px) calc(99.38% - 9.88px), 34.55% 97.55%, calc(27.30% - -4.54px) calc(94.55% - 8.91px), 20.61% 90.45%, calc(14.64% - -7.07px) calc(85.36% - 7.07px), 9.55% 79.39%, calc(5.45% - -8.91px) calc(72.70% - 4.54px), 2.45% 65.45%, calc(0.62% - -9.88px) calc(57.82% - 1.56px), 0.00% 50.00%, calc(0.62% - -9.88px) calc(42.18% - -1.56px), 2.45% 34.55%, calc(5.45% - -8.91px) calc(27.30% - -4.54px), 9.55% 20.61%, calc(14.64% - -7.07px) calc(14.64% - -7.07px), 20.61% 9.55%, calc(27.30% - -4.54px) calc(5.45% - -8.91px), 34.55% 2.45%, calc(42.18% - -1.56px) calc(0.62% - -9.88px), 50.00% 0.00%, calc(57.82% - 1.56px) calc(0.62% - -9.88px), 65.45% 2.45%, calc(72.70% - 4.54px) calc(5.45% - -8.91px), 79.39% 9.55%, calc(85.36% - 7.07px) calc(14.64% - -7.07px), 90.45% 20.61%, calc(94.55% - 8.91px) calc(27.30% - -4.54px), 97.55% 34.55%, calc(99.38% - 9.88px) calc(42.18% - -1.56px));
    }
}*/





.eg-pricing>div {
    z-index: 999;
}

.eg-per-page {
    background: #47acad;
    padding-inline: 10px;
    padding-block: 2px;
    rotate: 0deg;
    text-transform: lowercase;
    margin-top: -5px;
}

@media(min-width:1200px) {
    .eg-per-page {

        margin-top: -5px;
    }
}

.eg-per-word {
    rotate: 0deg;
    font-weight: bold;
    text-transform: lowercase;
}

.eg-per-page>strong {
    font-size: 26px;
}



@media(min-width: 768px) and (max-width: 1199px) {
    .eg-pricing {
        max-width: 100px;
        height: 100px;
        font-size: 10px;
        top: 8px;
        left: 86%;
    }

    .eg-per-page>strong {
        font-size: 12px;
    }
}


@media(max-width: 767px) {
    .eg-pricing {
        max-width: 70px;
        height: 70px;
        font-size: 8px;
        top: 28px;
    }

    .eg-per-page {
        padding-inline: 6px;
        padding-block: 1px;
    }

    .eg-per-word {
        margin-bottom: -8px;
    }

    .eg-per-page>strong {
        font-size: 10px;
    }

    header#header-img section.template_banner>.container {
        margin-top: 30px;
    }
}