.col-md-12,
.calendar-calendar,
.view .row>.list-group {
    width: 85%;
}

.booking-flow .main .extra .notes {
    margin-top: 0;
}

.extras h2 {
    margin-left: 15px;
}

span.qualifier {
    color: #bdbdbd;
}

.booking-flow .main .extra.child {
    background-color: white;
}

.booking-flow .Collapsible__trigger:after {
    float: right;
    font-size: 11px;
    margin: 4px 0 8px;
}

.booking-flow .Collapsible {
    border-bottom: none;
}

.booking-flow .Collapsible__trigger {
    background-color: rgb(204 204 204 /35%);
}

.booking-flow .step {
    font-size: 1.8rem;
    margin-top: 0;
    height: 45px;
}

.booking-flow .steps .number {
    height: 28px;
}

.booking-flow .main .extra .extra-line-item {
    display: grid;
    grid-template-columns: 170px 1fr;
}

.egImg {
    width: 200px;
    height: 100px;
    grid-row-start: 1;
    grid-row-end: 3;
}

form > div:nth-child(1) div.extra-description.row > div.text{
    /*white-space: nowrap;*/
    width: 100%; 
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
 } 

form > div:nth-child(1) div.extra-description.row > div.text.eg_active .eg-hidden-text{
    display: inline !important;
}


 .eg-hidden-text{
    display: none;
 }


#eg_show {
    color: #1BA9E8;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    text-transform: lowercase;
}

.extra-inner {
    border: 1px solid #d0cdc5;
}

.text {
    padding: 5px 25px 10px;
}

.booking-flow .Collapsible__trigger {
    width: 96%;
    margin: auto;
}

.extra-line-item {
    background: #fff !important;
}

span.totalPrice {
    color: #1ba9e8;
    font-weight: 600;
}

.booking-flow .main .extra .price-quantity {
    float: none;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}


.booking-flow .main .extra .extra-description .text, 
.booking-flow .main .extra .extra-description .notes  {
    font-size: 16px;
}

.booking-flow .main .extra label,
.booking-flow .main .extra .price-quantity{
    padding-left: 7.5%;
     font-size: 20px;
    font-weight: 400;
    font-family : "NewBaskervilleW01-Roman", serif;

}

.booking-flow .main .extra .extra-line-item {
    padding: 0;
}

.booking-flow .main .extra label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

.booking-flow input[type=checkbox] {
    order: 1;
    width: 24px;
    height: 24px;
}

.notes {
    padding-left: 3%;
}

.price-quantity {
    display: flex;
    gap: 15px;
}

.booking-flow .main .extra .notes .crew-message {
    border: none !important;
    padding: 0;
    margin: 0;
}

.booking-flow .main .extra .extra-description {
        width: 100%;
        margin-inline: 0 !important;
        font-size: 16px;
    }

    @media(min-width: 800px){
        .booking-flow input[type=checkbox] {
            order: 1;
            width: 24px;
            height: 24px;
        }
    
        .booking-flow .main .extra label,
    .booking-flow .main .extra .price-quantity{
        padding-left: 4.5%;
        font-family : "NewBaskervilleW01-Roman", serif;
    }
    
    }


@media(min-width: 768px) {
    .extras form .Collapsible .Collapsible__contentInner>div {
        padding: 15px 15px 0 15px;
    }
    .egImg {
        width: 200px;
        height: 100px;
        grid-row-start: 1;
        grid-row-end: 3;
    }  

    .booking-flow .main .extra .extra-line-item {
        display: grid;
        grid-template-columns: 202px 1fr;
    }

    .booking-flow .main .extra label,
    .booking-flow .main .extra .price-quantity{
        padding-left: 4%;
    }
}

@media(max-width: 767px) {
    .extras form .Collapsible .Collapsible__contentInner>div {
        padding-top: 10px;
    }

    .steps {
        width: 100%;
    }

    .egImg {
        width: 100%;
        height: auto !important;
    }


    .extra-line-item {
        display: flex !important;
        flex-direction: column;
    }



    .booking-flow .step {
        font-size: 1.5rem;
    }

    .booking-flow .step {
        padding-top: 9px;
    }

    .booking-flow .booking-details {
        margin-bottom: 11px;
    }

    .booking-flow .main .extra label {
        padding: 10px 10px 0 10px;
    }

    .booking-flow .main .extra .price-quantity {
        padding: 10px;
    }

    .text {
        padding: 0 10px 10px;
        width: 100%;
    }

    .booking-flow .main .extra {
        padding: 0;
    }

    .booking-flow .Collapsible__trigger {
        width: 100%;
    }
}
