 .eg-video-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 540px;
    height: 32.0625rem;
    opacity: 0.6;
    filter: grayscale(0.15);
  }
  
  .eg-video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    background: url('https://i.vimeocdn.com/video/1583946110-62552399dd827f3c15c3e103b546702392b6663634f4428577c63d8eac135b74-d?mw=700&mh=389&q=70');
    background-position: center;
    background-size: contain;
  }
  
  #page_block_header .section-block {
    background: none;
  }
  
  .eg-video-container+.section-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  @media screen and (min-width:768px) {
    .eg-video-container {
      background: url(https://i.vimeocdn.com/video/1583946110-62552399dd827f3c15c3e103b546702392b6663634f4428577c63d8eac135b74-d?mw=700&mh=389&q=70);
      background-position: center;
      background-size: contain;
    }
  
    html body #element-69 {
      top: 50%;
    }
  
    html body #element-240 {
      top: 80%;
  }
  }
  
  @media (min-aspect-ratio: 16/9) {
    .eg-video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
  
  @media screen and (min-width:768px) and (max-aspect-ratio: 16/9) {
    .eg-video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
  }
  
  @media screen and (max-width:767px) and (max-aspect-ratio: 16/9) {
    .eg-video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 110vh;
      height: 35vh;
      top: 0;
      transform: translateX(-50%);
    }
  
  }
  
  @media screen and (max-width:767px) {
    html body div#element-257 {
      top: 1.375rem;
    }

    #element-69 {
      top: 3.8125rem !important;
      left: 1.375rem;
      height: 5.125rem;
      width: 22.0625rem;
      z-index: 99;
  }
  
    html body #element-220 {
      top: 6.375rem;
    }
  
    html body #element-226 {
      top: 23.375rem;
    }
  
    html body #page_block_header {
      max-width: 100%;
      height: 27rem;
    }
  
    html body .eg-video-container + .section-inner .widget.hidden-mobile {
      display: block !important;
    }
  
    html body .eg-video-container + .section-inner {
      height: 50% !important;
      top: 86% !important;
    }
  
    /* html body .eg-video-container+.section-inner #element-240 {
      top: 110px !important;
    } */

    html body  #element-240 {
      bottom: 10px;
      left: 1.4375rem;
      height: 3.375rem;
      width: 22.0625rem;
      z-index: 13;
      position: fixed !important;
      background: red;
  }
  }
