.cv-3-1 section[class ^="featureSection"]>div[class ^="ctaContainer"] {
    text-align: center;
    margin-top: 44px !important;
}

.cv-3-1 section[data-qa="hero"] {
    height: auto;
}

.cv-3-1 div[class ^="heroIntro"] {
    height: auto;
}


.cv-3-1 div[class ^="featureLists"] {
    display: none !important;
}

.cv-3-1 .cv-overview-container {
    padding: 0 30px 14px;
    margin-top: 50px;
    /* margin-bottom: -9%; */
    padding-bottom: 0;
}

.cv-3-1 .cv-overview-wrapper {
    width: 100%;
    margin-inline: auto;
}

.cv-3-1 .cv-callouts-container {
    display: flex;
    justify-content: center !important;
}

.cv-callouts:first-child .cv-img img {
    width: 26px;
}

.cv-callouts:last-child .cv-img img {
    width: 41px;
}

.cv-3-1 .cv-callouts img {
    width: 32px;
    height: 40px;
    margin: auto;
    display: block;
}

.cv-3-1 .cv-callouts {
    position: relative;
    text-align: center;
    flex-basis: 20%;
    margin: auto;
}

.cv-3-1 .cv-callouts .cv-title {
    font-weight: 700;
    font-size: 16px;
    margin: 18px 0 8px 0;
    color: #000;
}

.cv-3-1 .cv-callouts .cv-info {
    font-size: 14px;
    line-height: 21px;
    padding-top: 10px;
}


.cv-3-1 .cv-overview-wrapper>.cv-heading {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}


.cv-3-1 div[class ^="featureLists"] {
    margin: auto;
}


.cv-3-1 section[class ^='featureSection']>div[class ^='ctaContainer']>a {
    max-width: 350px !important;
    width: 100% !important;
}

@media(max-width: 1099px) {
    .cv-3-1 .cv-callouts {
        flex-basis: 38%;
    }

    .cv-3-1 .cv-callouts-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 34px 0;
    }
}

@media (max-width: 767px) {
    .cv-3-1 .cv-callouts {
        flex-basis: 100%;
        max-width: 500px;
    }

    .cv-3-1 .cv-callouts img {
        width: 32px !important;
        height: 40px;
        margin: auto;
        display: block;
    }

    .cv-3-1 .cv-callouts .cv-title br {
        display: none !important;
    }

    .cv-3-1 .cv-callouts-container {
        gap: 0;
    }

    .cv-3-1 .cv-overview-wrapper>.cv-heading {
        margin-bottom: 50px;
    }

    .cv-3-1 .cv-overview-container {
        padding: 0 30px 30px;
        margin-top: 0;
        /* margin-bottom: -8%; */
    }

    .cv-3-1 .cv-callouts .cv-info {
        font-size: 14px;
        line-height: 21px;
        padding-top: 3px;
    }

    .cv-3-1 .cv-rows {
        padding-top: 0;
        margin-top: -2px;
        padding-left: 30px;
    }

    .cv-3-1 .cv-overview-container {
        padding: 0 30px 10px;
        border-top: 2px solid #fff !important;
    }

    .cv-3-1 .cv-callouts {
        display: flex;
        align-items: center;
        text-align: left;
    }

    .cv-3-1 section.cv-overview-container>div>div>div:nth-child(2)>div.cv-rows>h3 br {
        display: none;
    }

    .cv-3-1 .cv-img {
        margin-top: 20px;
    }

    .cv-3-1 div[class ^="sectionContent"] div[class ^="featureLists"] {
        display: block !important;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .cv-3-1 div[class ^="featureLists"] div[class ^="featureContainer"] div[class ^="featureItem"] {
        display: none;
    }


    .cv-3-1 div[class ^="featureLists"] {
        background: #fff;
        border-bottom: 10px solid #fff !important;
    }

    .cv-3-1 section[class ^="featureSection"]>div[class ^="ctaContainer"] {
        text-align: center;
        margin: 60px 0 20px !important;
        width: 100%;
        margin: auto;
    }

    .cv-3-1 section[data-qa="hero"] {
        height: auto;
        /* margin-bottom: -10px; */
    }

    div[class ^="sectionContent"] {
        margin-bottom: -3px;
    }

}


.cv-3-1 .cv-overview-container+section[class ^="featureSection"] {
    padding-bottom: 40px;
    /* align-items: center; */
    padding-right: 0 !important;
    margin-top: 0;
    padding-top: 0;
}


.cv-3-1 div[class ^="ctaContainer"] div[class ^="component"] {
    font-size: 14px;
}