.header .middle .bottom a{
    background: #3472bc;
    color: #FFF;
    border: none;
}

.header .middle .bottom a:hover{
    border: none;
    background: rgb(24, 50, 78);
}


@media screen and (max-width: 767px) {
    .header > div.buttons-container > a {
        background: #3472bc;
        color: #FFF;
        border: none;
    }
    .header > div.buttons-container > a:hover {
        border: none;
        background: rgb(24, 50, 78);
    }
}
