.header .middle .bottom a{
    background: rgb(54, 113, 176);
    color: #FFF;
}

@media screen and (max-width: 767px) {
    .header > div.buttons-container > a {
        background: rgb(54, 113, 176);
        color: #FFF;
    }
}
