@media screen and (max-width: 767px) {
    html body.nav-show-mobile {
        margin-top: 100px !important; 
    }
    
    .egBanner {
      background: #FFF;
      padding-top: 10px;
      padding-bottom: 0px;
  }

div.egScrollMenu {
    overflow: auto;
    white-space: nowrap;
    border-bottom: 1px solid;
  }
  
  div.egScrollMenu a {
    display: inline-block;
    color: #000;
    font-weight: 500;
    text-align: center;
    padding: 12px 8px;
    font-size: 15px;
    text-decoration: none;
  }
}