.eg_form input[type=text],
.eg_form input[type=email] {
    width: 100% !important;
    padding: 12px 20px;
    margin: 8px 0 !important;
  display: inline-block;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
}

.nfn__trust {
    display: none !important;
}

.nfn__label {
    font-size: 15px !important;
}

form.eg_form {
    width: 92%;
    margin: auto;
}


.nfn__languages {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px !important;
    width: 92% !important;
    margin: auto;
}

input#quantity {
    border-radius: 20px;
    height: 40px;
    width: 98%;
    outline: 0;
    text-align: center;
    background: #1f3d5c;
    border: 0;   
     /* width: 82%; */
    color: #47acad;
}

#nfnLanguageFrom > div.nfn__options-title,
#nfnLanguageTo > div.nfn__options-title {
    color: #47acad !important;
}

html body .nfn__actions #quote button {
    background: #eee !important;
    color: #47acad !important;
}

html body #nfnLanguageTo .nfn__options-title, html body #nfnLanguageFrom .nfn__options-title {
    background: #1f3d5c;
    border: 0;
}

button#nfnQuoteBtn,
button#nfnOrderBtn{
    border-radius: 30px;
}

.nfn__content {
    position: relative;
}

.nfn__actions {
    position: relative;
    top: 35px;
}
.second-container.container {
    display: none;
}


.eg_desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -5%;
}

.eg_icon {
    display: flex;
    align-items: center;
}

.form_container_desktop {
    margin-block: 13%;
}


.eg_img img {
    width: 25px;
}

.eg_detail {
    font-size: 11px;
    line-height: 1;
    color: #fff;
    padding: 10px 4px;
}

section.template_banner > div.container div.form_container_desktop > div {
    background: rgb(4 62 113 / 80%) !important;
}

html body div.form_container_desktop > div > div.nfn__title {
    color: #fff !important;
}

section.template_banner > div.container > div > div > div.form_container_desktop > div > div.nfn__languages > div  .nfn__label{
    color: #fff !important;
}


.eg_logo img {
    background: #1f3d5c;
    border-radius: 50%;
    height: 100px;
    width: 110px;
}

.eg_logo {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.nfn__label {
    font-size: 15px;
}

/* <img src="https://img.icons8.com/material-sharp/192/1FB141/icons8-new-logo.png"/> */

