.cv-beb-8-1-hero-banner {
    background: url('https://cfactory-img.s3.amazonaws.com/BEB/8-1/cv-beb-8-1-background-desktop.jpg');
    background-position: top;
    background-size: cover;
    overflow: hidden;
}
html body.cv-beb-8-1-sport-c-footballbfgf-gale .cv-beb-8-1-horse{
    bottom: -64%;
}
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-text-910,
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-image-909,
html body.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-text-751,
html body.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-image-729,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-913,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-914,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-908,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-text-895,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-904,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-905,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-910,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-915,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-916,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-906,
html body.cv-beb-8-1-sport-b-branding-coak #lp-pom-text-907,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-913,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-914,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-904,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-905,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-908,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-text-895,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-915,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-910,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-916,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-906,
html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-text-907,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-913,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-914,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-908,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-text-895,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-904,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-905,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-915,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-916,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-910,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-906,
html body.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-text-907,
html body.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-image-845,
html body.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-image-699,
html body.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-image-725,
html body.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-image-783,
html body.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-text-538,
html body.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-image-822,
html body.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-image-824,
html body.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-image-729,
html body.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-text-751,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-965,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-text-951,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-974,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-975,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-970,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-964,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-972,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-973,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-967,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-966,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-963,
html body.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-text-950,
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-image-916,
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-image-907,
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-image-908,
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-image-917,
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-image-911,
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-text-898,
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-image-913,
html body.cv-beb-8-1-sport-c-brand-coak div#lp-pom-image-918,
html body.cv-beb-8-1-sport-c-brand-coak #lp-pom-image-919,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-755,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-756,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-821,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-text-546,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-947,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-948,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-821,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-755,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-943,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-762,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-763,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-text-538,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-944,
html body.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-753,
html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-text-546,
html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-image-838,
html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-image-820,
html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-image-828,
html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-text-538,
html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-image-805,
html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-image-821,
html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-image-822,
html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-image-823,
html body.cv-beb-8-1-sport-a-oc-fbec #lp-pom-image-937,
html body.cv-beb-8-1-sport-a-oc-fbec #lp-pom-image-945,
html body.cv-beb-8-1-sport-a-oc-fbec #lp-pom-image-943,
html body.cv-beb-8-1-sport-a-oc-fbec #lp-pom-image-939,
html body.cv-beb-8-1-sport-a-oc-fbec #lp-pom-text-930,
html body.cv-beb-8-1-sport-a-oc-fbec #lp-pom-text-929,
html body.cv-beb-8-1-sport-a-oc-fbec #lp-pom-image-944,
html body.cv-beb-8-1-sport-a-oc-fbec #lp-pom-image-940,
html body.cv-beb-8-1-sport-a-oc-fbec #lp-pom-text-936,
html body.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-image-822,
html body.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-image-699,
html body.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-image-725,
html body.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-image-872,
html body.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-image-783,
html body.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-text-538,
html body.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-image-729,
html body.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-text-751,
html body.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-894,
html body.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-895,
html body.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-783,
html body.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-text-538,
html body.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-783,
html body.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-text-538,
html body.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-image-725,
html body.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-image-699,
html body.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-822,
html body.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-918,
html body.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-919 {
    display: none;
}

img.cv-beb-8-1-footballer {
    position: absolute;
    left: -6%;
    bottom: -14%;
    width: 315px;
}

html body .cv-beb-8-1-hero-banner .lp-pom-block-content {
    width: 100% !important;
    max-width: 1200px !important;
    /* overflow: hidden; */
}

img.cv-beb-8-1-horse {
    position: absolute;
    bottom: -68%;
    right: -223px;
    width: 520px;
}

img.cv-beb-8-1-volleyball {
    position: absolute;
    right: 188px;
    top: 19px;
    width: 303px;
}


.cv-beb-8-1-text-top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 481px;
    top: 59px;
    z-index: 9999;
    text-align: center;
}
html body.cv-beb-8-1-sport-a-oc-fbec .cv-beb-8-1-text-top,
html body.cv-beb-8-1-sport-a-mixed-fbec .cv-beb-8-1-text-top{
    top: 50%;
    transform: translate(-50%, -50%);
}

.cv-beb-8-1-text-top img {
    width: 100%;
}
.cv-beb-8-1-text-top .cv-beb-8-1-button {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.cv-beb-8-1-text-top .cv-beb-8-1-button img {
    width: 250px !important;
}

@media screen and (min-width:2000px) {
    html body .cv-beb-8-1-hero-banner{
        background: url('https://cfactory-img.s3.amazonaws.com/BEB/8-1/cv-beb-8-1-background-large-desktop.jpg');
        background-size: cover;
        background-position: center;
    }
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-term,
    html body img.cv-beb-8-1-footballer{
        left: 0px !important;
    }
}

@media screen and (max-width:1299px) {
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-term{
        left: 10px !important;
        font-size: 15px;
    }
    html body .cv-beb-8-1-hero-banner{
        background-position: unset;
    }
    html body .cv-beb-8-1-volleyball {
        right: 117px;
        top: 13px;
        width: 289px;
        transform: scale(0.95);
    }
    html body .cv-beb-8-1-horse {
        bottom: -62%;
        right: -179px;
        width: 479px;
    }
    img.cv-beb-8-1-footballer {
        position: absolute;
        left: 0;
        bottom: -14%;
        width: 328px;
    }
    html body.cv-beb-8-1-sport-a-mixed-sepg  .cv-beb-8-1-horse {
        bottom: -46%;
        right: -170px;
        width: 479px;
    }
    
}
@media screen and (max-width:991px) {
    html body.cv-beb-8-1-sport-a-oc-fbec .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-sport-a-mixed-fbec .cv-beb-8-1-text-top{
        top: 121px;
        transform: translateX(-50%) scale(.93);
    }
    html body .cv-beb-8-1-text-top{
        transform: translateX(-50%) scale(.93);
    }
    html body.cv-beb-8-1-sport-c-footballbfgf-gale .cv-beb-8-1-footballer {
        position: absolute;
        left: -4%;
        bottom: -17%;
        width: 296px;
    }
    html body img.cv-beb-8-1-footballer {
        position: absolute;
        left: -16px;
        bottom: -14%;
        width: 306px;
    }
}
@media screen and (max-width:600px) {
    /* html body.cv-beb-8-1-sport-a-mixed-sepg .cv-beb-8-1-box-3 .cv-beb-8-1-text br {
        display: none;
    } */
    html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-block-943,
    html body.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-block-924{
        width: auto !important;
        height: auto !important;
    }
    html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-sport-a-mixeda-gale .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top{
        transform: translateX(-50%) scale(.85) !important;
        top: 50px;
    }
    html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer{
        left: 19px;
        bottom: -8%;
        width: 149px;
    }
    html body.cv-beb-8-1-bet-with-bulls-2 #lp-pom-block-943 .lp-pom-block-content,
    html body.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-block-924 .lp-pom-block-content{
        height: 557px !important;
    }
    html body .cv-beb-8-1account-content .lp-pom-block-content{
        min-height: auto !important;
        height: auto !important;
        padding: 10px 0px !important;
        align-items: stretch;
    }
    html body.cv-beb-8-1-sport-a-mixed-fbec .cv-beb-8-1account-content .lp-pom-block-content{
        padding: 10px 0px 0px 0px !important;
    }
    html body.cv-beb-8-1-sport-a-oc-fbec .cv-beb-8-1-hero-banner .cv-beb-8-1-horse {
        bottom: -33% !important;
    }
    html body.cv-beb-8-1-sport-a-oc-fbec .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer {
        position: absolute;
        left: 2px;
        bottom: -7%;
        width: 173px;
    }
    html body.cv-beb-8-1-sport-a-oc-fbec .cv-beb-8-1account-content .cv-beb-8-1-text{
        font-size: 14px;
    }
    /* html body .cv-beb-8-1account-content {
        display: none !important;
    } */
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-term{
        font-size: 11px;
        left: 5px !important;
    }
    html body .cv-beb-8-1-hero-banner{
        background: url('https://cfactory-img.s3.amazonaws.com/BEB/8-1/cv-beb-8-1-background-mob.svg') !important;
        background-size: cover !important;
        background-position: bottom -12px center!important;
    }
    /* html body .cv-beb-8-1-hero-banner .lp-pom-block-content{
        height: 579px !important; 
    } */
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top{
        width: 85%;
        max-width: 397px !important;
    }
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top .cv-beb-8-1-button {
        display: block;
        text-align: center;
        margin-top: 6px;
    }
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top .cv-beb-8-1-button img {
        width: 200px !important;
        height: 50px !important;
    }
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-volleyball {
        right: -23px;
        top: 11px;
        width: 205px;
    }
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer {
        position: absolute;
        left: 10px;
        bottom: -7%;
        width: 164px;
    }
    html body.cv-beb-8-1-sport-a-mixeda-gale .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer{
        left: 12px;
        bottom: -9%;
        width: 165px;
    }
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-horse {
        bottom: -42%;
        right: -139px;
        width: 318px;
    }
    html body.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-block-371 {
        width: 100% !important;
    }
    html body.cv-beb-8-1-sport-a-mixed-sepg .cv-beb-8-1-hero-banner .lp-pom-block-content{
        height: 479px !important;
    }
    html body.cv-beb-8-1-sport-a-mixed-sepg .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer{
        width: 141px;
        bottom: -7%;
        left: 10px;
    }
    html body.cv-beb-8-1-sport-a-mixed-sepg .cv-beb-8-1-hero-banner .cv-beb-8-1-volleyball {
        right: -23px;
        top: 5px;
        width: 177px;
    }

    html body.cv-beb-8-1-sport-a-mixed-sepg .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top{
        top: 42px;
    }
    html body.cv-beb-8-1-sport-a-mixed-sepg .cv-beb-8-1-hero-banner .cv-beb-8-1-horse {
        bottom: -42%;
        right: -126px;
        width: 277px;
    }
    html body.cv-beb-8-1-sport-a-mixed-sepg .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top {
        max-width: 263px !important;
    }
    html body.cv-beb-8-1-sport-c-footballbfgf-gale .cv-beb-8-1-hero-banner .lp-pom-block-content{
        height: 653px !important;   
    }
    html body.cv-beb-8-1-sport-a-mixed-fbec .cv-beb-8-1-hero-banner,
    html body.cv-beb-8-1-sport-a-mixeda-gale .cv-beb-8-1-hero-banner,
    html body.cv-beb-8-1-sport-b-branding-coak  .cv-beb-8-1-hero-banner,
    html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner,
    html body.cv-beb-8-1-sport-ps-mixed-yfce .cv-beb-8-1-hero-banner,
    html body.cv-beb-8-1-sport-ps-mixed-sepg .cv-beb-8-1-hero-banner,
    html body.cv-beb-8-1-sport-c-footballbfgf-gale .cv-beb-8-1-hero-banner{
        background-position: bottom 0px center!important;
    }
    
    html body .cv-beb-8-1-hero-banner{
        background-position: bottom 0px center!important;
    }
    html body.cv-beb-8-1-sport-c-footballbfgf-gale .cv-beb-8-1-hero-banner .cv-beb-8-1-horse {
        bottom: -32%;
        right: -139px;
        width: 329px;
    }
    html body.cv-beb-8-1-sport-c-footballbfgf-gale .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer {
        position: absolute;
        left: -3px;
        bottom: -5%;
        width: 184px;
    }
    html body.cv-beb-8-1-sport-a-mixed-fbec .cv-beb-8-1-hero-banner .lp-pom-block-content,
    html body.cv-beb-8-1-sport-ps-mixed-sepg .cv-beb-8-1-hero-banner .lp-pom-block-content{
        height: 612px !important;
    }
    html body.cv-beb-8-1-sport-c-footballqs-coak .cv-beb-8-1-text-top{
        top: 80px;
        transform: translateX(-50%) scale(1);
    }
    html body.cv-beb-8-1-sport-ps-mixed-sepg .cv-beb-8-1-text-top {
        top: 70px;
        transform: translateX(-50%) scale(.90);
    }
    html body.cv-beb-8-1-sport-a-oc-fbec .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-sport-a-mixed-fbec .cv-beb-8-1-text-top{
        top: 145px;
        transform: translateX(-50%) scale(1);
    }
    html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .cv-beb-8-1-horse{
        bottom: -31%;
        right: -107px;
        width: 278px;
    }
    html body.cv-beb-8-1-sport-c-footballqs-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-horse,
    html body.cv-beb-8-1-sport-a-mixed-fbec .cv-beb-8-1-hero-banner .cv-beb-8-1-horse,
    html body.cv-beb-8-1-sport-ps-mixed-sepg .cv-beb-8-1-hero-banner .cv-beb-8-1-horse {
        bottom: -38%;
    }
    html body.cv-beb-8-1-sport-c-brand-coak .cv-beb-8-1-hero-banner .lp-pom-block-content,
    html body.cv-beb-8-1-sport-b-branding-coak .cv-beb-8-1-hero-banner .lp-pom-block-content,
    /* html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .lp-pom-block-content, */
    html body.cv-beb-8-1-sport-ps-mixed-yfce .cv-beb-8-1-hero-banner .lp-pom-block-content{
        height: 688px !important;
    }
    html body.cv-beb-8-1-sport-c-brand-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer,
    html body.cv-beb-8-1-sport-b-branding-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer,
    /* html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer, */
    html body.cv-beb-8-1-sport-ps-mixed-yfce .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer {
        left: -12px;
        bottom: -8%;
        width: 201px;
    }
    html body.cv-beb-8-1-sport-c-brand-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-horse,
    html body.cv-beb-8-1-sport-b-branding-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-horse, 
    /* html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .cv-beb-8-1-horse,  */
    html body.cv-beb-8-1-sport-ps-mixed-yfce .cv-beb-8-1-hero-banner .cv-beb-8-1-horse {
        bottom: -31%;
        right: -140px;
        width: 332px;
    }
    html body.cv-beb-8-1-sport-c-brand-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-sport-b-branding-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-sport-ps-mixed-yfce .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top{
        transform: translateX(-50%) scale(1);
        top: 65px;
    }

    html body .cv-beb-8-1account-content .cv-beb-8-1-box {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }
    html body .cv-beb-8-1account-content .cv-beb-8-1-number{
        font-size: 27px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    html body .cv-beb-8-1account-content .cv-beb-8-1-text {
        font-size: 11px;
    }
    .cv-beb-8-1-hero-banner .cv-beb-8-1-term{
        letter-spacing: -.5px;
    }
}
@media screen and (max-width:360px) {
    html body.cv-beb-8-1-sport-c-brand-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer, 
    html body.cv-beb-8-1-sport-b-branding-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer, 
    html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer, 
    html body.cv-beb-8-1-sport-ps-mixed-yfce .cv-beb-8-1-hero-banner .cv-beb-8-1-footballer{
        width: 190px;
    }
    html body.cv-beb-8-1-sport-a-mixed-fbec .cv-beb-8-1-hero-banner .cv-beb-8-1-volleyball {
        right: -30px;
        top: 18px;
        width: 194px;
    }
    html body.cv-beb-8-1-sport-c-footballqs-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-horse{
        bottom: -36% !important;
        right: -180px !important;
        width: 323px !important;
    }

    html body.cv-beb-8-1-sport-c-brand-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-horse,
    html body.cv-beb-8-1-sport-b-branding-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-horse,
    html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .cv-beb-8-1-horse,
    html body.cv-beb-8-1-sport-ps-mixed-yfce .cv-beb-8-1-hero-banner .cv-beb-8-1-horse {
        bottom: -31% !important;
        right: -180px !important;
        width: 323px !important;
    }
    html body.cv-beb-8-1-sport-c-brand-coak .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-sport-c-footballqs-coak .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-sport-b-branding-coak .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-bet-with-bulls-2 .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top,
    html body.cv-beb-8-1-sport-ps-mixed-yfce .cv-beb-8-1-hero-banner .cv-beb-8-1-text-top {
        top: 122px !important;
    }

    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-term {
        left: 4px !important;
        font-size: 10.5px !important;
    }
    html body .cv-beb-8-1-hero-banner .cv-beb-8-1-horse{
        right: -159px !important;
    }
}
html body.cv-beb-8-1-sport-a-mixed-sepg .cv-beb-8-1-horse {
    bottom: -63%;
    right: -217px;
    width: 520px;
}

/* html body #lp-pom-block-371, 
html body #lp-pom-block-928, 
html body #lp-pom-block-897, 
html body #lp-pom-block-949, 
html body #lp-pom-block-894{
    background: transparent !important;
} */

.cv-beb-8-1-hero-banner .cv-beb-8-1-term {
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
    left: -52px;
    position: absolute;
    bottom: 10px;
    letter-spacing: -.3px;
}
.cv-beb-8-1-text-top a {
    display: inline-block;
}
html body .cv-beb-8-1-hero-banner {
    cursor: pointer;
}

.cv-beb-8-1account-content .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cv-beb-8-1account-content {
    background: #1882f0;
}
.cv-beb-8-1account-content .cv-beb-8-1-box {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;

}

.cv-beb-8-1account-content .cv-beb-8-1-number {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 900;
    margin-right: 16px;
    color: #001c42;
}
.cv-beb-8-1account-content .cv-beb-8-1-text{
    font-weight: 700;
    font-family: Montserrat;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-style: normal;
    line-height: 1.1;
}
.cv-beb-8-1account-content .cv-beb-8-1-box-2{
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
}
.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-block-825,
.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-text-826,
.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-image-827,
.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-text-828,
.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-text-829,
.cv-beb-8-1-sport-a-oc-fbec #lp-pom-image-893,
.cv-beb-8-1-sport-a-oc-fbec div#lp-pom-text-892,
.cv-beb-8-1-sport-a-oc-fbec div#lp-pom-text-894,
.cv-beb-8-1-sport-a-oc-fbec div#lp-pom-text-895,
.cv-beb-8-1-sport-a-oc-fbec div#lp-pom-block-891,
.cv-beb-8-1-sport-a-mixed-sepg div#lp-pom-block-755,
.cv-beb-8-1-sport-a-mixed-sepg div#lp-pom-image-833,
.cv-beb-8-1-sport-a-mixed-sepg div#lp-pom-text-832,
.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-text-834,
.cv-beb-8-1-sport-a-mixed-sepg #lp-pom-text-835,
.cv-beb-8-1-sport-c-footballbfgf-gale div#lp-pom-block-859,
.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-image-862,
.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-text-861,
.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-text-863,
.cv-beb-8-1-sport-c-footballbfgf-gale #lp-pom-text-864,
.cv-beb-8-1-sport-c-footballqs-coak div#lp-pom-block-859,
.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-image-862,
.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-text-861,
.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-text-863,
.cv-beb-8-1-sport-c-footballqs-coak #lp-pom-text-864,
.cv-beb-8-1-sport-c-brand-coak div#lp-pom-block-871,
.cv-beb-8-1-sport-c-brand-coak #lp-pom-image-874,
.cv-beb-8-1-sport-c-brand-coak #lp-pom-text-873,
.cv-beb-8-1-sport-c-brand-coak #lp-pom-text-875,
.cv-beb-8-1-sport-c-brand-coak #lp-pom-text-876,
.cv-beb-8-1-sport-ps-mixed-sepg div#lp-pom-block-871,
.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-image-874,
.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-text-873,
.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-text-875,
.cv-beb-8-1-sport-ps-mixed-sepg #lp-pom-text-876,
.cv-beb-8-1-sport-ps-mixed-yfce div#lp-pom-block-871,
.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-image-874,
.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-text-873,
.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-text-875,
.cv-beb-8-1-sport-ps-mixed-yfce #lp-pom-text-876,
.cv-beb-8-1-sport-b-branding-coak div#lp-pom-block-871,
.cv-beb-8-1-sport-b-branding-coak #lp-pom-image-874,
.cv-beb-8-1-sport-b-branding-coak #lp-pom-text-873,
.cv-beb-8-1-sport-b-branding-coak #lp-pom-text-875,
.cv-beb-8-1-sport-b-branding-coak #lp-pom-text-876{
    display: none;
}
/* .cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-block-853,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-block-856,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-block-860,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-image-859,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-text-869,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-text-858,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-text-854,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-text-855,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-text-857,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-text-866,
.cv-beb-8-1-sport-a-mixed-fbec div#lp-pom-image-871 {
    display: none;
} */


.cv-beb-8-1-sport-a-mixed-fbec #lp-pom-block-852 {
    background: #1882f0;
}
@media screen and (max-width:1023px) and (min-width:601px){
.cv-beb-8-1-box-3.cv-beb-8-1-box {
    width: 33%;
}
html body .cv-beb-8-1-box-2.cv-beb-8-1-box {
    width: 25% !important;
}
html body .cv-beb-8-1account-content .cv-beb-8-1-text{
    font-size: 18px;
    margin-top: 3px;
}
html body .cv-beb-8-1account-content .cv-beb-8-1-number{
    font-size: 2.8rem;
}
}
@media screen and  (min-width:1270px) {
    html body .cv-beb-8-1account-content .cv-beb-8-1-text{
        margin-top: 4px;
    }
}
@media screen and (max-width:1199px) and (min-width:1024px){
    html body .cv-beb-8-1-box-2.cv-beb-8-1-box {
        width: 25% !important;
    }
    html body .cv-beb-8-1account-content .lp-pom-block-content{
        font-size: 18px;
    }
    html body .cv-beb-8-1account-content .cv-beb-8-1-number{
        font-size: 3rem;
    }
}

.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-image-941,
.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-944,
.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-935,
.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-text-925,
.cv-beb-8-1-sport-a-mixeda-gale div#lp-pom-image-940,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-block-871,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-image-874,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-text-873,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-text-875,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-text-904,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-text-905,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-image-941,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-image-943,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-text-934,
.cv-beb-8-1-sport-a-mixeda-gale #lp-pom-image-935,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-image-960,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-image-959,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-image-963,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-image-954,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-text-944,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-block-871,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-image-874,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-text-873,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-text-875,
.cv-beb-8-1-bet-with-bulls-2 div#lp-pom-text-876,
.cv-beb-8-1-bet-with-bulls-2 #lp-pom-image-962,
.cv-beb-8-1-bet-with-bulls-2 #lp-pom-text-953{
    display: none;
}
