.navbar-brand {
    top: 0rem !important;
}

@media (min-width: 768px) and (max-width: 1199px) {
    html body #header-info {
        top: 9px !important;
    }
}

@media(min-width:1200px){
    html body #header-info {
        top: 40px !important;
    }
}

@media (min-width: 768px) {

    html body .navbar-header>.inner {
        height: auto;
    }

    #header {
        margin-top: 0 !important;
    }

    .navbar-header {
        border-bottom: 0;
    }
}

@media screen and (max-width: 767px) {

    .row .steps {
        padding-block: 10px !important;
    }

    /* #booking-flow nav {
        width: 90% !important;
    } */

    .steps nav::before {
        top: 22px;
    }
}


.booking-flow .step {
    flex: 1;
}

html body .booking-flow .steps .number {
    margin-right: 0;
}


.navbar {
    box-shadow: none;
    height: auto;
    min-height: auto;
}

nav .step {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: none !important;
}

.booking-flow .step {
    padding-left: 0 !important;
}

#booking-flow nav {
    display: flex;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    position: relative;
    justify-content: space-between;
    width: 100%;
    margin-inline: auto;
    max-width: 1040px;
}

.steps nav::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 77%;
    background-color: rgb(0 0 0 /15%);
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
}

.steps nav::after {
    content: '';
    position: absolute;
    height: 2px;
    width:0;
    background: #122447;
    left: 14%;
    top: 25%;
}



.steps > nav:has(.step:nth-child(1).active)::after {
    width: 0;
}

.steps > nav:has(.step:nth-child(2).active)::after {
    width: 23%;
}

.steps > nav:has(.step:nth-child(3).active)::after {
    width: 48%;
}

.steps > nav:has(.step:nth-child(4).active)::after {
    width: 73%;
}

.site-header {
    margin-bottom: 0 !important;
}

.step.active span.number {
    background: #122447;
    color: #fff !important;
    height: 25px;
}

.booking-flow .step:not(.active) .number {
    background: #fff;
}

.step {
    font-weight: 700 !important;
}

.step.active,
.step:not(:first-child) {
    color: #122447 !important;
}

#booking-flow nav>.step:not(.number) {
    font-size: 12px;
    color: #122447;
}

#booking-flow nav>.step {
    padding: 0 !important;
    height: auto !important;
    min-width: unset !important;
}

.booking-flow .steps .number {
    height: 25px !important;
    width: 25px;
    text-align: center;
    line-height: 2.5;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #122447;
    margin-bottom: 8px;
    border: 1px solid #122447;
}

.row .steps {
    padding-inline: 0;
    padding-block: 40px;
}

.eg-active {
    background-color: #122447 !important;
    color: #fff !important;
}


.booking-flow .step {
    margin-left: 0 !important;
    margin-top: 0 !important;
}