 #navigation ul {
    max-width: 100% !important;
}

#more-icon,
#pg320820078203078472{
    display: none !important;
}


.nav.clearfix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 !important;
}

.eg_main_nav {
    list-style-type: none;
    margin-top: 0;
    display: flex;
    gap: 30px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.eg_main_nav li {
    position: relative;
    line-height: 35px;
    text-align: left;
    width: auto;
    gap: 20px;
}

.eg_main_nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 21px;
}

.eg_main_nav li ul li {
    border-bottom: 1px solid white;
    text-decoration: none;
    width: 310px;
    line-height: 1.2;
}

.eg_main_nav li ul li a{
    display: block;
    padding: 7px 15px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.eg_main_nav li ul li a:hover{
    color: #fff;
    background-color: #7094b8;
}

.eg_main_nav li ul.name{
    min-width: 100%;
    background-color: #fff;
    color: #000;
    display: none;
    position: absolute;
    box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.86);

}

.eg_main_nav li  ul li:hover{
    display: block;
    top: 0;
}

.eg_main_nav li:hover ul.name{
    display: block;
}

.eg_main_nav li ul.name li{
    display: block;
}

li#pg222616047586340364 {
    display: none !important;
}

div#navigation {
    width: revert;
    margin: 0;
    position: static;
}


li.eg_list{
    line-height: 4;
}


@media (min-width: 1200px) and (max-width: 1370px) {
    .eg_main_nav {
        gap: 20px;
    }

    .eg_main_nav li a {
        font-size: 19px;
    }
}

@media (min-width: 1200px) and (max-width: 1274px){
    ul.eg_main_nav {
        gap: 15px;
    }
    
    .eg_main_nav li a {
        font-size: 17px;
    }
    
    #navigation ul li{
        padding: 0 5px;
    }
    
    #navigation ul li#quote-button a,
    #navigation ul li#billing-button a{
        height: 35px;
        font-size: 15px !important;
    }
}

@media screen and (max-width: 1200px) {

    /* div.more-menu ul:not(.eg_main){
        display:none !important;
    } */

    .more-menu ul:first-child {
        list-style-type: none;
    }

    .nav.clearfix {
        display: initial;
    }

    li.eg_list {
    line-height: 1.2;
}

.eg_list.eg_active ul.name {
    padding-left: 15px;
    display: block;
}


#close-icon {
    position: absolute;
    right: 0;
    top: 0;
}

ul.eg_main {
    padding-top: 80px;
}

}