@media(max-width: 767px) {
    #checkoutForm>input[type=submit] {
        display: block;
        width: 90%;
        margin-inline: auto;
    }

    .eg-trust-wrapper {
        width: 90%;
        margin: 28px auto;
    }

    .eg-ssl {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .eg-ssl>div {
        display: flex;
        gap: 8px;
        font-size: 11px;
        align-items: center;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2.2px;
    }

    .eg-ssl .eg-img {
        display: inline-block;
    }

    .eg-ssl .eg-img svg {
        width: 26px;
        display: inline-block;
    }

    .eg-trust-logos {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }

    .eg-trust-logos>div>img {
        width: 100%;
        display: block;
        object-fit: cover;
    }

}