html body .eg-button{
    text-align: center;
}
html body .eg-button a {
    background: #f0c14b !important;
    color: #1f3b54 !important;
    line-height: 1.2;
    padding: 10px !important;;
    border-radius: 5px;
    width: calc(100% - 40px);
    cursor: pointer;
    display: inline-block !important;;
    max-width: 500px;
    font-size: 1.1rem;
    font-weight: 600;
}
html body .eg-button a:hover {
    color: #1f80c7 !important;
    background: #ebebeb !important;
}