.form-fields.et-step1 > div:not(.mobile-show, .et-dummy-cta) {
    display: none;
}
p.btn.primary.et-disable {
    opacity: 0.5;
    pointer-events: none;
}
form .form-fields.et-step2 > .mobile-show, 
form .form-fields.et-step2 > .et-dummy-cta {
    display: none;
}
.main-form .wrap .mobile-button {
    display: none;
}
.banner-trip-form form .form-fields {
    display: block;
}
/* @media screen and (min-width: 420px) {
    body .banner-slideshow.has-trip-form {
        padding-bottom: 120%;
    }
} */
html body .banner-trip-form{
    position: relative;
}
.banner-trip-form form {
    margin: 0 auto;
    max-width: 420px;
    padding: 20px;
    padding-top: 35px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #F2F2F2;
    width: 90%;
}

.et-dummy-cta {
    margin-top: 15px;
}

.page-template-home-page-v2 .learn-more.open-tooltip {
    font-size: 15px;
    color: #f7531a;
    display: inline-block;
    margin-top: 5px;
    position: relative;
}


.page-template-home-page-v2 .form-field{
    position: relative;
}
.page-template-home-page-v2 .more-info-tooltip {
    position: absolute;
    background-color: #FFF;
    color: #595754;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    padding: 12px 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 45%);
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    z-index: 99;
}
.page-template-home-page-v2  .more-info-tooltip.show {
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.slider__removed {
    display: none;
}
html body.page-template-home-page-v2 .banner-slideshow {
    background: url('https://res.cloudinary.com/enchanting/f_auto,q_70,w_1600,h_700,c_fill/et-web/2020/06/Mountain-range-and-railroad-track-in-Denali-National-Park-Alaska.jpg');
    background-size: cover;
    background-position: center;
    padding: 24px 0px;
}