@media screen and (max-width: 1023px) {


    html body .navigation--middle .nav__links.nav__links--shop_info>li:first-child,
    html body .navigation--middle .site-search .title {
        display: none !important;
    }

    .desktop__nav .nav__center {
        order: 3;
        width: 100%;
    }

    html body .navigation--middle .site-search {
        position: static;
        display: flex;
        width: 100%;
        background: transparent;
    }

    .navigation--middle .site-search .ui-front-search {
        margin-top: 0px !important;
    }

    .navigation--middle .site-search>.yCmsComponent {
        width: 100%;
        margin: 0px;
        padding: 2px 10px 10px;
        background: #000;
    }

    .navigation--middle .site-search .ui-autocomplete {
        top: 100px !important;
    }

    .navigation--middle .site-search .input-group .input-group-btn .black-search,
    .navigation--middle .site-search .input-group .input-group-btn .fa-search,
    .navigation--middle .site-search .input-group .input-group-btn .icon-ab-search-white {
        left: 6px;
    }

    html body .navigation--middle .desktop__nav {
        height: auto !important;
    }

    nav .site-search .btn-close {
        display: none !important;
    }

}