
@media(max-width: 767px) {
    #masthead > div.mobile-header > div.mobile_cta {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 100% !important;
        z-index: 999;
        background: #FFF !important;
        padding: 5px;
        bottom: 0;
    }
}
