
@media screen and (max-width: 767px) {
    #masthead > div.mobile-header > div.mobile_cta {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 100% !important;
        z-index: 999;
        bottom: 0;
    }
    
    iframe#podium-bubble {
        margin-bottom: 20px !important;
    }

    iframe#podium-prompt {
        margin-bottom: 17px !important;
    }

}
