html body .eg-review-container {
  display: flex;
  gap: 20px;
  text-align: center;
}

html body .eg-text {
  line-height : 1.1;
  font-family: ITCGaramondStd-LtCond;
  font-weight : 400;
  font-style : normal;
  text-align : center;
  font-size : 36px;
  margin-right : 10px;
  color: #f1d27a;;
}


.filter-list-wrapper-mobile {
  margin-top: 40px;
}

.filters-container {
  display: flex;
  flex-direction: column;
  margin-top: 172px !important;
}
html body .eg-review-container > .eg-text{
  margin-right: 0px;
  margin-bottom: 10px;
  color: #f1d27a;;
}
html body .eg-review-text {
  margin-left : 10px;
  font-family: ITCGaramondStd-LtCond;
  font-size : 20px;
  color: #f1d27a;;
}

html body img.hero__logo {
  margin-bottom : 10px;
}

.eg-star svg {
  width : 30px !important;
  height : 30px !important;
}

.eg-star svg path.star {
  fill: #f1d27a !important;
  stroke: #f1d27a;
}

html body .eg-review {
  text-align : center;
  display : flex;
  align-items : center;
  justify-content : center;
  margin-bottom : 40px;
  color : rgb(255, 255, 255);
}
  
@media screen and (max-width:1050px) {
  html body .eg-review-container{
      margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width:911px) {
  html body .eg-review-container > .eg-text{
      font-size: 27px!important;
  }

  div.eg-review-container > .eg-review > p.eg-text{
    font-size: 28px;
  }

  .eg-star svg {
    width : 27px !important;
    height : 27px !important;
  }
  
}

    
@media screen and (max-width:767px) {
      html body .eg-text {
        font-size:25px !important;
    }
    html body .eg-review-container > .eg-text{
      margin-right: 0px;
      margin-bottom: 10px;
    }

    
    html body .eg-star svg {
      width : 20px !important;
      height : 20px !important;
  }

    html body .eg-review-container{
  text-align: center;
  display: flex;
    flex-direction : column;
    gap: 0;
}

}
