html body .collection-header .lazuli-inner {
    background: url('https://cdn.shopify.com/s/files/1/0251/5984/files/collections-header-image-2.jpg?v=1657902631') !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}