#nbsStep2 .nbs__options-list::after {
    content: 'Relieve your nerves. Receive your translation today!';
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #29507a;
    font-weight: 600;
    font-size: 18px;
}

#nbsStep2 .nbs__options-list {
    position: relative;
}

@media(max-width:446px) {
    #nbsStep2 .nbs__options-list::after {
        font-size: 14.8px;
    }
}

@media(max-width: 372px) {
    #nbsStep2 .nbs__options-list::after {
        font-size: 14px;
    }
}