@media(min-width: 1025px) {

    .main-header #menu-btn,
    .main-header #menu-btn+label.menu-icon,
    .main-header .nav-links {
        display: none;
    }

    .main-header .header-container {
        justify-content: space-between;
    }
    
    .main-header #menu-main-nav,
    .eg-contact-us-cta {
        font-family: 'Colgent';
        font-style: normal;
        font-weight: 400;
         color: #FFFFFF;
         line-height: 27px;
         text-transform: uppercase;
    }

    .main-header #menu-main-nav {
        display: flex;
        gap: 6px;
        list-style: none;
        padding-top: 16px;
        font-size: 20px;
        flex: 1;
        justify-content: flex-end;
        padding-left: 10px;
    }

    .main-header #menu-main-nav li:last-child,
    .eg-contact-us-cta{
        border: 2px solid white;
    }

    .main-header #menu-main-nav>li {
        padding: 10px 10px 6px;
    }

    .main-header .header-container {
        align-items: center;
    }

    .eg-contact-us-cta {
        font-size: 22px;
        text-decoration: none;
        display: inline-block;
        padding: 15px 15px 12px;
    }

}

@media(max-width: 1305px) and (min-width: 1171px) {

    .main-header #menu-main-nav {
        font-size: 17px;
    }
}

@media(max-width: 1284px) and (min-width: 1025px) {
    .main-header .head-logo {
        width: 130px !important;
    }
}


@media(min-width: 1025px) and (max-width: 1170px) {
    .main-header #menu-main-nav {
        font-size: 14px;
    }
}