@media(min-width: 1025px) {
    .main-header {
        max-width: 1470px;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-header #menu-btn,
    .main-header #menu-btn+label.menu-icon,
    .main-header .nav-links,
    .main-header #menu-main-nav li:nth-child(1),
    .main-header #menu-main-nav li:nth-child(5),
    .main-header #menu-main-nav li:nth-child(6),
    .main-header #menu-main-nav li:nth-child(7),
    .main-header #menu-main-nav li:nth-child(8) {
        display: none;
    }

    .main-header .header-container {
        justify-content: space-between;
        align-items: center;
    }

    .main-header #menu-main-nav,
    .eg-contact-us-cta {
        font-family: 'Colgent';
        font-style: normal;
        font-weight: 400;
        color: #FFFFFF;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
    }

    .main-header #menu-main-nav {
        display: flex;
        gap: 70px;
        list-style: none;
        padding-top: 12px;
        flex: 1;
        justify-content: flex-end;
        padding-left: 30px;
    }

    .main-header #menu-main-nav li:last-child,
    .eg-contact-us-cta {
        border: 2px solid white;
    }

    .main-header #menu-main-nav>li {
        padding: 10px 10px 6px;
    }

    .eg-contact-us-cta {
        text-decoration: none;
        display: block;
        padding: 15px 15px 12px;
        width: fit-content;
        margin-top: 22px;
        color: white !important;
    }

    .eg-contact-us-cta:hover {
        color: #191970 !important;
    }

}