.egBody main > section:nth-of-type(4){
    background-color: #fff !important;
}

.egBody .testimonial-container {
    padding-top: 0 !important;
}

.egBody main > section:nth-of-type(4) > div {
    padding-bottom: 15px !important;
}

.egBody #__next main {
    display: flex;
    flex-direction: column;
}

.egBody #__next main > div:nth-child(4) {
    order: 5;
}

.egBody #__next main > section:last-child {
    order: 6;
}