@media(max-width: 918px) and (min-width: 760px) {
    div[class^='contact-header__content']>div[class^='Box-sc'] {
        width: 91%;
    }
}

.eg-tab-content {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.eg-tab-heading {
    border-left: 3px solid rgb(219, 0, 17);
    font-size: 29px;
    padding-left: 10px;
    margin-bottom: 26px;
    line-height: 1.2;
}

.eg-steps {
    background: #ededed;
    padding: 30px;
}

.eg-step+.eg-step {
    margin-top: 22px;
}

.eg-step>p:last-child {
    margin-top: 16px;
}

.eg-step {
    font-weight: 500;
}


@media(min-width:760px) {
    .eg-tab-btn {
        color: white;
        display: flex;
        padding: 10px 20px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: #404040;
        line-height: 1.3;
    }

    .eg-tab-btn.active {
        border-top: 3px solid rgb(219, 0, 17);
    }

    .eg-tab-btn:hover,
    .eg-tab-btn.active {
        background: white;
        color: currentColor;
    }

    .eg-tab-btn:hover .eg-icon,
    .eg-tab-btn.active .eg-icon {
        fill: currentColor;
    }

    .eg-icon {
        display: block;
        width: 18px;
        aspect-ratio: 1/1;
        fill: white;
    }


    .eg-remove-active-state {
        background-color: rgb(64, 64, 64) !important;
        color: rgb(255, 255, 255) !important;
    }

    .eg-remove-active-state::before {
        display: none !important;
    }

    .eg-remove-active-state svg {
        fill: #fff !important;
    }

    .eg-remove-active-state:hover {
        background-color: rgb(255, 255, 255) !important;
        color: rgb(51, 51, 51) !important;
    }

    .eg-remove-active-state:hover svg {
        fill: rgb(51, 51, 51) !important;
    }

    div[class^="contact-header"]:has(.eg-tab-btn.active)+div[class^='contact-body'] .eg-tab-content {
        height: auto;
        margin-bottom: 30px;
    }
}

@media(max-width: 759px) {
    .eg-tab-heading {
        font-size: 24px;
    }

    .eg-steps {
        padding: 20px;
    }
}