.eg-section {
    background: #eef0f8;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
}

.eg-container {
    display: flex;
    color: #252429;
}

.eg-container>div {
    width: 100%;
   
}

/****** hover state********/

a.eg-tag-link:hover {
    color: #000;
    background: #efe;
}

.eg-left {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
    margin-left: 20px;
}


.eg-left .eg-title{
    color: #252429;
    font-family: 'Frank Ruhl Libre';
    font-size: 44px;
  line-height: 1;
}
 

.eg-left>.eg-content {
    max-width: 410px;
}

.eg-left>.eg-content>p+p {
    color: #736E7C;
    margin-top: 20px;
    font-size: 17px;
}

.eg-tag-link {
    border: 1px solid #4c70bb;
    border-radius: 100vmax;
    background: white;
    display: inline-block;
    padding: 4px 40px;
    color: #4e4e50;
    font-weight: bold;
    margin-top: 8px;
    margin-right: 8px;
}

.eg-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.eg-tags a {
    margin: 6px 3px;
}

html body #__layout main>section:nth-child(3)>div {
    padding-bottom: 3rem !important;
}

.eg-section+section {
    margin-top: 0 !important;
}
  
@media (min-width: 640px) and (max-width: 992px) {
    .eg-left{
        margin-left: 15px;
    }
    .eg-section{
        padding-left: 0 !important;
    }

}

@media(max-width:767px) {
    .eg-container {
        flex-wrap: wrap;
    }

    .eg-left>.eg-content {
        max-width: 100%;
    }

    .eg-left .eg-title{
        font-size: 34px;
    }

    .eg-left{
        margin-left: 0 !important;
    }

    .eg-section{
        padding-left: 0 !important;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
  .eg-tag-link{
  font-size:14px; 
  }
}

@media(max-width:639px) {
    .eg-tag-link {
        padding-left: 13px;
        padding-right: 13px;
        margin-right: 0;
    }

    .eg-left {
        margin-bottom: 22px;
        margin-right: 0;
    }
}
