header nav.primary .wrapper > ul {
    display: flex;
}

header nav.primary .wrapper > ul > li:nth-child(1) {
    order: -3;
}
header nav.primary .wrapper > ul > li:nth-child(2) {
    order: -2;
}
header nav.primary .wrapper > ul > li:nth-child(5) {
    order: -1;
}

header nav.primary .wrapper > ul > li:nth-child(3) {
    margin-left: auto;
}

nav.primary .search {
    left: 50%;
    transform: translateX(-60%);
    right: 0px;
}

.search-expander .searchBox button span:before, 
nav.primary .searchBox button span:before,
.search-expander .searchBox input[type=text], 
nav.primary .searchBox input[type=text],
.search-expander .searchBox input[type=text]::placeholder, 
nav.primary .searchBox input[type=text]::placeholder {
    color:#333333 !important;  
}

.search-expander .searchBox, 
nav.primary .searchBox {
    background: #fff !important;
    border-radius: 4px;
}
html body #sli_autocomplete {
    left: 50% !important;
    transform: translateX(-50%);
}