html body .haUNoo,
html body .sc-oVdHe {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

html body .nm-module-summary-engine .nm-summary-tech-icons .nm-tech-icons-wrap {
    margin-bottom: 0px !important;
}